[2018-02-06 22:56] helmutgranda commented on #502
Hey @wbamberg, thanks for merging the PR, can I just keep adding the other border options to the same branch? On pull #546 you can see that it has been "closed".

[2018-02-07 00:31] wbamberg commented on #502
Sorry, I should have left it open. Please file a new PR for the other properties, in a new branch.

[2018-02-07 07:30] schalkneethling commented on #544
Agreed, my vote would be for `transform-perspective-function`

[2018-02-07 10:26] schalkneethling commented on #548
@danielhickman Nope, it looks save to remove to me as well.

[2018-02-07 19:25] brianlmacdonald commented on #483
Dibs?

[2018-02-07 20:03] wbamberg commented on #483
Thanks for offering to help out, @brianlmacdonald!

@helmutgranda is already working on `list-style` over in https://github.com/mdn/interactive-examples/pull/547, so he might want to do the other `list-style-*` properties when he's done with that (even if he doesn't, it would be nice to use the same basic example, for consistency).

If there's aren't any open other bugs here that you want to take,

[2018-02-07 20:22] veekas opened #554 "CSS examples: example needed for z-index"
https://developer.mozilla.org/en-US/docs/Web/CSS/z-index

[2018-02-07 20:22] veekas commented on #554
@wbamberg: I hope you don't mind me creating this issue on my own. I wasn't sure how to indicate that I'll be working on this. If this isn't the right method, please let me know. Also, if that's the case, I can add a sentence to CONTRIBUTING.md to clarify the process for adding new issues.

[2018-02-07 20:38] brianlmacdonald commented on #483
@wbamberg can I open a new issue for cursor and tackle the css examples?

[2018-02-07 21:25] brianlmacdonald opened #555 "CSS examples: example needed for cursor"
https://developer.mozilla.org/en-US/docs/Web/CSS/cursor

I'll take this one!

[2018-02-07 22:48] #548 closed

[2018-02-07 23:09] wbamberg opened #557 "CSS examples: make the diagrams in the transform functions docs redundant"
I'm filing a bug for this because I think this is a good idea but it's not a thing that should block the current examples for transform functions, which are already a great improvement over what we had before.

Some of these MDN pages for transform functions already come with diagrams showing the effect of the function. The diagrams are...OK. They're quite illustrative I think, although they are q

[2018-02-08 21:11] wbamberg commented on #403
I don't think we should implement this, not at the moment anyway. As Schalk says: https://github.com/mdn/interactive-examples/pull/542#issuecomment-364037393: it's complicated, because the editor is embedded in an iframe, so we have to do this postMessage dance when the two sides need to cooperate. It's not clear to me at he moment that the complexity is worth the benefit it gives users. We could

[2018-02-08 22:28] wbamberg commented on #554
@veekas: thanks for contributing!

z-index would be a great property to work on. If you look in the repo, you'll see that there already is [an example for z-index](https://interactive-examples.mdn.mozilla.net/pages/css/z-index.html), but I think it could definitely be improved:

* it doesn't work well at smaller screen widths
* it's very gray :)
* I'm not sure if the example is ideal

Alternativel

[2018-02-08 22:28] wbamberg commented on #554
Also: I think filing a bug for items you want to take is a good idea, as it will help prevent people from bumping into each other :). So far I've not documented the process for finding items to document, mostly I guess because I think of that as a short-term thing (hopefully fairly soon we will be done with the spreadsheet :) but I've added a bit to the ["help wanted" post](https://discourse.mozil

[2018-02-08 23:10] wbamberg commented on #484
Fixed by https://github.com/mdn/interactive-examples/pull/547. Thanks @helmutgranda !

[2018-02-08 23:10] #484 closed

[2018-02-09 01:28] wbamberg commented on #482
Note that @helmutgranda just landed an example for list-style: https://developer.mozilla.org/en-US/docs/Web/CSS/list-style. For consistency, it would be good if the example for list-style-image used the same basic example.

[2018-02-09 06:06] wbamberg opened #561 "CSS examples: example needed for vertical-align"
https://developer.mozilla.org/en-US/docs/Web/CSS/vertical-align

There are already a couple of examples in the page that could be interactivised:

<img width="601" alt="screen shot 2018-02-08 at 10 04 20 pm" src="https://user-images.githubusercontent.com/432915/36013960-1b797146-0d1c-11e8-9014-733498ebab22.png">

<img width="623" alt="screen shot 2018-02-08 at 10 04 25 pm" src="https://user-images

[2018-02-09 06:08] wbamberg opened #562 "CSS examples: example needed for background"
https://developer.mozilla.org/en-US/docs/Web/CSS/background

This is quite a complex one I think. It might be worth looking at some of the related examples we've already done, like: https://developer.mozilla.org/en-US/docs/Web/CSS/background-image

It would also be worth writing examples for the other background-* properties at the same time, as they could share a lot of the design.

[2018-02-09 06:13] wbamberg opened #563 "CSS examples: examples needed for font-size"
https://developer.mozilla.org/en-US/docs/Web/CSS/font-size

It would be worth looking at some of the other font-* examples we already have, to try to make them consistent:
https://developer.mozilla.org/en-US/docs/Web/CSS/font
https://developer.mozilla.org/en-US/docs/Web/CSS/font-family

[2018-02-09 06:20] wbamberg opened #564 "CSS examples: example needed for transform-origin"
https://developer.mozilla.org/en-US/docs/Web/CSS/transform-origin

There's already a neat example in the page, that we could use as the basis of an interactive example:

<img width="704" alt="screen shot 2018-02-08 at 10 14 52 pm" src="https://user-images.githubusercontent.com/432915/36014236-8d5cc78a-0d1d-11e8-9c19-76cb9fb580fa.png">

...except that this example has a range of different transform

[2018-02-09 06:22] wbamberg opened #565 "CSS examples: example needed for width"
https://developer.mozilla.org/en-US/docs/Web/CSS/width

The page already contains an example that we should be able to interactivise:

<img width="1053" alt="screen shot 2018-02-08 at 10 21 47 pm" src="https://user-images.githubusercontent.com/432915/36014409-7caa72ce-0d1e-11e8-977e-1fef095ac23a.png">

We should omit any values that don't have good cross-browser support though.

[2018-02-09 06:25] wbamberg opened #566 "CSS examples: example needed for color"
https://developer.mozilla.org/en-US/docs/Web/CSS/color

We could use existing interactive examples like [background-color](https://developer.mozilla.org/en-US/docs/Web/CSS/background-color) for inspiration, as well as existing text examples like [font](https://developer.mozilla.org/en-US/docs/Web/CSS/font).

There's also a nice example in the page that we could interactivise:

<img width="713" alt

[2018-02-09 13:29] kenrick95 commented on #534
Just a thought, I think we could make use of [`CSS.supports()` function](https://developer.mozilla.org/en-US/docs/Web/API/CSS/supports) to check whether current CSS property is supported by browser or not  instead of getting the compatibility data from browser-compat-data. (and to get broader browser support, probably [polyfill](https://github.com/Modernizr/Modernizr/wiki/HTML5-Cross-browser-Polyf

[2018-02-09 13:33] kenrick95 commented on #257
Suggestion: If we can't eliminate the string "developer.mozilla.org" inside the codes, can we refactor it out at a config file. At testing environments, we could change this config to adapt to testing env URLs. What do you think?

[2018-02-09 13:35] kenrick95 commented on #476
Same as https://github.com/mdn/interactive-examples/issues/534#issuecomment-364433848, maybe we could look into using [`CSS.supports()` function](https://developer.mozilla.org/en-US/docs/Web/API/CSS/supports).

[2018-02-09 14:45] benji1304 commented on #566
Has this been done already? I'm reviewing the code in
https://github.com/mdn/interactive-examples/blob/master/live-examples/css-examples/color/color.html

It looks like it was already added here
https://github.com/mdn/interactive-examples/commit/8736d6068a1b9a11cab89d0159062053ec3e8f66#diff-f7f95dcc42987f7979b62565b6eddd0a

[2018-02-09 16:24] veekas commented on #554
Thanks for the clarification, @wbamberg. Yesterday morning I took the existing example and [modified the CSS](https://github.com/veekas/interactive-examples/blob/master/live-examples/css-examples/transitions/z-index.css) to better accommodate smaller screen widths per the [CSS examples style guide](https://github.com/mdn/interactive-examples/blob/master/CSS-Example-Style-Guide.md#output-width-cons

[2018-02-09 16:37] wbamberg commented on #566
Oh, so it was :). We wrote some examples last year, when we were still developing this thing. I think it could use some minor updates though:

* it has 8 example choices, and we'd prefer to keep to 6, so as to avoid scrollbars. We should choose the 6 most useful/interesting choices
* it might be good to have a slightly more interesting initial choice than `currentColor` (in fact maybe we should re

[2018-02-09 16:39] benji1304 commented on #566
I'll give it a go. The PR I submitted earlier was my first ever for MDN so I'll happily give this one a run through too.

[2018-02-09 17:03] dominicduffin1 commented on #565
Am I correct in thinking that the interactivised example should only include the blue bits?

[2018-02-09 18:39] a2sheppy commented on #403
Makes sense. It's kind of a bummer, since it would be so convenient to be
able to do so, but it's logical not to do something that's technically
complex with it at this stage. I think it should be re-evaluated later for
sure though.

On Thu, Feb 8, 2018 at 4:11 PM, wbamberg <notifications@github.com> wrote:

--

Eric Shepherd
Senior Technical Writer
Mozilla
Blog: http://www.bitstampede.com/
Twitte

[2018-02-09 18:51] danielhickman commented on #534
I didn't know about that function. It looks like a good idea. What are your thoughts @wbamberg?

[2018-02-09 20:43] mfluehr commented on #562
I'll take a stab at these. Wish me luck!

[2018-02-09 23:29] wbamberg commented on #565
Yes, kind of. I think the output pane should contain one blue block then each choice in the left-hand pane should be the contents of one of the blocks in that example, like:

[code]

[code]

[code]

[code]

At least, that seems like a reasonable approach for this one :).

[2018-02-09 23:41] veekas commented on #554
I was having trouble figuring out how to do this with one-line CSS declarations, but I came up with a couple options.

## Option 1
![option 1](https://i.imgur.com/AwaEbq0.jpg)

## Option 2
![option 2](https://i.imgur.com/f99SEow.jpg)

I'm partial to the second one, so I'll do a PR for it right now, but let me know if you'd prefer the first.

[2018-02-10 01:11] wbamberg commented on #554
Thanks for your contribution @veekas ! I'll take a look but it might not be for a couple of days.

[2018-02-10 10:10] dominicduffin1 commented on #565
That sounds reasonable :) I'll have a go at that.

[2018-02-10 18:29] LLyaudet commented on #561
Hello,
I would like to give a try at creating an interactive example for vertical-align.
You asked "Which one should we choose for the example?".
Why not allow to have multiple interactive examples for one page ?
I could create vertical-align.html/vertical-align.css and vertical-align2.html/vertical-align2.css for covering the two contexts.
I have no clue whether it would be complicated to allow m

[2018-02-10 21:57] wbamberg commented on #561
@LLyaudet , thanks for offering to have a go!

It's a good idea, but unfortunately, for technical reasons, we can't have >1 example on a page yet. I think we should probably choose the first example here.

[2018-02-11 13:51] LLyaudet commented on #561
Hello,
I have a problem, I cannot install nodejs on my Debian.
I first installed the Debian package nodejs but it doesn't contain npm and is outdated as it appears when you google it.
Then I purged it and tried to install nodejs from nodejs.org, but the download fails in the middle anytime I try.
I did the code anyway but couldn't test it.
I don't know if it may help you if I send a pull request a

[2018-02-11 17:34] wbamberg opened #572 "CSS examples: need examples for margin-[top/right/bottom/left]"
We already have one for margin: https://developer.mozilla.org/en-US/docs/Web/CSS/margin so it would probably be best to copy that example for each of these longhand properties. Ideally we would be able to use the same margin.css file, to make sure they're consistent.

[2018-02-11 17:37] wbamberg opened #573 "CSS examples: need example for font-stretch"
https://developer.mozilla.org/en-US/docs/Web/CSS/font-stretch

Syntactically this looks quite simple. The only tricky bit is finding a font that supports the stretched and condensed variants.

For consistency it would be good to base the example on one of the existing font examples:
https://developer.mozilla.org/en-US/docs/Web/CSS/font-family
https://developer.mozilla.org/en-US/docs/Web/CSS/font-w

[2018-02-11 17:40] wbamberg opened #574 "CSS examples: need example for widows"
https://developer.mozilla.org/en-US/docs/Web/CSS/widows

It might be good to use columns for this, so this example could use the columns examples as a basis: https://developer.mozilla.org/en-US/docs/Web/CSS/columns.

[2018-02-11 18:12] LLyaudet commented on #561
Hello,
I found an error by reading my code.
Here is a correction for the css:
[code]

Best regards,
   Laurent

[2018-02-11 18:17] wbamberg opened #575 "CSS examples: examples needed for border-image-*"
We already have an example for the shorthand property: https://developer.mozilla.org/en-US/docs/Web/CSS/border-image.

But it would be worth:
* removing the comment lines
* adding more choices (without comment lines we would have space for 6 choices

I haven't looked in detail at whether we could design better example choices for this one.

Then we need an example for each of the sub-properties:
h

[2018-02-11 18:22] wbamberg commented on #561
Hey @LLyaudet . I'm afraid I can't help with your Debian/node issue, but I'll take a look at your example and try to get it into the repo :).

[2018-02-11 18:53] LLyaudet commented on #561
Hello @wbamberg ,
Good news that you'll try to put it in the repo :).
Let me know when it's done so that I can check in your commit if you corrected something that was wrong with my code.
Best regards,
  Laurent

[2018-02-12 11:13] schalkneethling commented on #257
@kenrick95 That might be useful. Thing is, the problem is a bit more complex as it involves two external systems and the current build system. At the moment it is not posing enough of a problem that I would spend time on it right now.

Perhaps in future this problem will need to be solved, but for now I am going to lower the priority and leave it in the backlog. Thank you for your suggestion and i

[2018-02-12 12:14] #464 closed

[2018-02-12 14:48] mfluehr commented on #575
FWIW: I did a bunch of editing on these articles the other day, and something I realized was that border-image examples are very hard to understand without seeing the source image and knowing its dimensions. Maybe the interactive examples should include a link to the source image, as well as text describing its dimensions?

[2018-02-12 15:14] mfluehr commented on #572
I'll work on this.

[2018-02-12 16:29] wbamberg commented on #464
I've also updated all the MDN pages to use the "taller" parameter, so this should be finished now.

[2018-02-12 18:05] mfluehr commented on #564
I'll work on this.

[2018-02-13 05:12] #572 closed

[2018-02-13 05:35] bromy opened #581 "CSS examples: example needed for resize"
https://developer.mozilla.org/en-US/docs/Web/CSS/resize

I can do this one 👋

[2018-02-13 17:30] bromy commented on #581
The example was added.

[2018-02-13 17:30] #581 closed

[2018-02-14 17:38] jwhitlock commented on #257
My suggestion is that the embedder sets the return URL as a query string parameter.

On the [MDN margin page](https://developer.mozilla.org/en-US/docs/Web/CSS/margin), the example is included by:

[code]

This updates to pass the embedding domain as a ``origin`` parameter:

[code]

The JS introspects the location, parses the query string, and uses the ``origin`` value if provided, defaulting to ``

[2018-02-14 20:36] wbamberg commented on #566
Fixed! https://github.com/mdn/interactive-examples/pull/567

[2018-02-14 20:36] #566 closed

[2018-02-14 20:36] wbamberg commented on #563
Fixed! https://github.com/mdn/interactive-examples/pull/567

[2018-02-14 20:36] #563 closed

[2018-02-14 20:37] wbamberg commented on #544
Fixed! https://github.com/mdn/interactive-examples/pull/568

[2018-02-14 20:37] #544 closed

[2018-02-14 22:49] wbamberg commented on #561
Sorry to be slow getting to this. Thanks for the contribution!

I tried it out. It works well, but a few comments:

* you have 12 choices here: you should restrict yourself to 6 choices, so choose 6 that are representative of the syntax.

* I think it works better if the text does not wrap, so I'd choose something shorter, like:

[code]

* think the text could be a little bigger, like 1.2em or so.

[2018-02-15 01:39] wbamberg commented on #575
Yes, I agree. I think it might be tricky to include that in the example itself, what do you think about including it just in the MDN page, immediately after the example itself?

[2018-02-15 14:37] #564 closed

[2018-02-15 16:19] #562 closed

[2018-02-16 00:05] #554 closed

[2018-02-16 14:00] mfluehr commented on #575
I'll go ahead and work on this.

[2018-02-16 17:55] wbamberg commented on #502
Fixed! https://github.com/mdn/interactive-examples/pull/553

[2018-02-16 17:55] #502 closed

[2018-02-16 17:55] wbamberg commented on #481
Fixed! https://github.com/mdn/interactive-examples/pull/559

[2018-02-16 17:55] #481 closed

[2018-02-16 19:01] LLyaudet commented on #561
Hello @wbamberg,

Thanks for the feedback.

I chose 6 examples that are representative I think, as you suggested.

I had no idea it would wrap since I didn't knew which width the id="output" div would have.
Can you style the id="output" div also? Or is it fixed by the JS of the framework for interactive-examples?
I shortened the text as you suggested.

Again since I don't know how the framework fo

[2018-02-18 12:03] schalkneethling opened #593 "CSS Examples : display:flex"
Noticed that the entry page[1] for `flex` does not seem to have a general set of examples to add to the page. Is this intentional @wbamberg or, just not done yet?

[1] https://developer.mozilla.org/en-US/docs/Web/CSS/flex

[2018-02-18 18:17] wbamberg commented on #593
I'm not sure what a "general set of examples" means". There isn't yet an interactive example for [`flex`](https://developer.mozilla.org/en-US/docs/Web/CSS/flex). I think it's a bit tricky to do, because the effect of it is dependent not just on the value of the flex item it is applied to, but also on the value of the other flex items.

To demonstrate this, the existing example has different values

[2018-02-18 20:15] rachelandrew commented on #593
I think we have the same issue with the `grid` and `grid-template` shorthands. It's a bit tricky to work out which few properties we want to choose. Maybe these just demonstrate the idea, that this is a shorthand, and then refer people to the pages for the individual properties.

[2018-02-19 06:13] schalkneethling commented on #593
I really like your idea @rachelandrew - Thanks for the feedback both

[2018-02-20 17:22] #575 closed

[2018-02-20 21:51] #483 closed

[2018-02-21 00:35] wbamberg commented on #561
@LLyaudet , this looks good! The only problem I can see is that you need 4 spaces indentation for the CSS file.

Could you open a PR with these changes in, so I can review it properly and get it merged? Thanks!

[2018-02-22 06:46] rachelandrew commented on #468
Hi @hidde - could you let me know if you are still doing this? I'm about to do shape-outside, clear and so on and I could do this at the same time as it seems a bit odd to have clear, and shape-outside which relies on float, but not float!

[2018-02-22 07:03] hidde commented on #468
@rachelandrew Oh yes, that makes sense, feel free to do float as well.

Apologies, bad planning on my side meant I’ve had to postpone doing this a few times, should have updated this issue.

[2018-02-22 13:35] #555 closed

[2018-02-22 13:40] #482 closed

[2018-02-24 01:11] wbamberg commented on #561
Fixed: https://github.com/mdn/interactive-examples/pull/606

[2018-02-24 01:11] #561 closed

[2018-02-27 00:15] wbamberg commented on #593
Fixed: https://github.com/mdn/interactive-examples/pull/603/

[2018-02-27 00:15] #593 closed

[2018-02-27 00:15] wbamberg commented on #468
Fixed: https://github.com/mdn/interactive-examples/pull/603/

[2018-02-27 00:15] #468 closed

[2018-02-27 16:50] wbamberg commented on #534
Sorry, I haven't forgotten about this, but have had no time to properly think about it all :(. I am going to though, soon.

[2018-02-28 18:12] ddbeck opened #633 "CSS examples' data-property values are inconsistently formatted"
Each of the CSS example's initial `<section>` tags has a `data-property` attribute with the value set to the name of the property that the example demonstrates. Most of these use the hyphenated form of the property itself (e.g., `animation-fill-mode` is `data-property="animation-fill-mode"`).

About a quarter of the examples are inconsistent, however. A few are special cases (`live-examples/css-ex

[2018-02-28 18:14] ddbeck commented on #633
Oh yeah, this is a follow up from the discussion that @wbamberg and I had on [#617](https://github.com/mdn/interactive-examples/pull/617#issuecomment-369031036).

[2018-03-09 19:49] majidzeno commented on #532
Can't we take a screenshot for this unsupported property and show a static image in the example area with a title "This Feature is not supported by your browser, you can only display a static image" something like mirroring.
![mozilla](https://user-images.githubusercontent.com/18016774/37226742-99fe3848-23e3-11e8-89af-16f4f61980a9.png)

[2018-03-12 10:08] ddbeck commented on #574
It appears that #639 is going to cover this.

[2018-03-18 19:09] wbamberg commented on #574
Yes :)

[2018-03-18 19:09] #574 closed

[2018-03-28 21:45] cdersky opened #688 "CSS examples word-spacing has a typo"
The unit for the blue highlighted example should read 1em instead of 1rem.

![screen shot 2018-03-28 at 2 42 55 pm](https://user-images.githubusercontent.com/11150858/38058080-6d78e4c8-3296-11e8-8eb5-817a7fadaad1.png)

[Link to page with typo](https://developer.mozilla.org/en-US/docs/Web/CSS/word-spacing)

[2018-03-29 03:41] atopal commented on #688
Hi cdersky, rem is actually a valid unit. From the MDN page:

https://developer.mozilla.org/en-US/docs/Web/CSS/length

[2018-04-02 14:33] schalkneethling opened #690 "Add output label to HTML output panel"
As part of the user interview feedback for the HTML interactive editor, we learned that it is not immediately clear that the output pane of the editor is connected to the editor on the left.

One suggestion to resolve this was to add an output label to the output panel.

[2018-04-06 22:27] wbamberg opened #693 "HTML editor size adjustments"
HTML is pretty wordy. The `<table>` example we currently have overflows the editor. I think we should  do the same thing we do for JS examples, with support for a `taller` class: https://github.com/mdn/interactive-examples/issues/408.

23 lines or about that should be enough, and if it turns out not to be we could revisit. @schalkneethling , what do you think?

[2018-04-07 12:00] schalkneethling commented on #693
Makes sense to me. Thanks for logging this @wbamberg

[2018-04-09 12:34] akoliyot commented on #573
@wbamberg Can I help with this?

[2018-04-09 17:16] Elchi3 opened #695 "Error in console.log with Array containing null/undefined"
From this bug https://bugzilla.mozilla.org/show_bug.cgi?id=1452570

What did you do?
================
1. Go to any page with JavaScript Demo (e.g. https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/map)
2. Type `console.log([1, null]);` or `console.log([1, undefined]);`
3. Run

What happened?
==============
Output `Error: t is undefined`

What should have happen

[2018-04-09 20:46] wbamberg commented on #573
You certainly can @akoliyot ! Please take a look at the [contribution docs](https://github.com/mdn/interactive-examples/blob/master/CONTRIBUTING.md), and ask if you have any questions. Thanks!

[2018-04-11 09:50] techhtml commented on #343
How about using lang attribute for dynamic import?

such as,
[code]

[2018-04-11 22:49] wbamberg opened #699 "HTML examples: should the editor wrap?"
HTML is pretty wordy, and it's easy for examples to overflow horizontally. Should we wrap, in this case?

[2018-04-11 22:53] wbamberg opened #700 "HTML examples: should the CSS be optional?"
I can omit the `cssExampleSrc` line in meta.json, but if I do, I get a CSS tab containing:

[code]

This seems like a bug. But I wonder, writing these, if we should omit any CSS unless it seems needed. If so, what should the editor do when no CSS is specified: Omit the CSS tab, or include it but make it empty? Probably the latter.

[2018-04-12 14:46] akoliyot commented on #573
@wbamberg Sorry, I haven't been able to find any fonts that would work with the font-stretch property.

I found this:
http://koe.berlin/variablefont/
But for now it's only working when setting the width like this:
font-variation-settings: "wdth" 10;

I'll keep looking and update as soon as I find something.

[2018-04-12 19:14] chrisdavidmills opened #705 "text-decoration-skip/text-decoration-skip-ink"
text-decoration-skip needs an interactive example.
text-decoration-skip-ink has an interactive example, but it doesn't seem to display properly.

[2018-04-12 19:32] wbamberg commented on #705
It's not exactly that it doesn't display properly, as that it's not supported in Firefox, and the editor's behavior in this case isn't very intuitive. We have https://github.com/mdn/interactive-examples/issues/532 filed to address this.

In the meantime I think we probably shouldn't have interactive examples for things that are not well-supported, so I have removed the interactive example from `te

[2018-04-12 19:45] wbamberg opened #706 "HTML examples: output escapes from its pane"
CSS added to the CSS pane are applied to the entire page, not just the output:

![html-examples-escape](https://user-images.githubusercontent.com/432915/38700234-3c396ab2-3e4f-11e8-9db2-ae22e9faddd1.gif)

Similarly, clicking links loads the page into the entire example, not just the output:

![html-examples-escape-2](https://user-images.githubusercontent.com/432915/38700256-4f063b0c-3e4f-11e8-9dce

[2018-04-13 08:14] chrisdavidmills commented on #705
OK, sounds good. Thanks Will!

[2018-04-13 08:25] #695 closed

[2018-04-13 14:48] wbamberg commented on #705
I was going to say, let's keep this open for text-decoration-skip, but that doesn't seem to be supported anywhere except Safari, so perhaps we're not ready for it yet?

[2018-04-13 14:50] chrisdavidmills commented on #705
I think it might be in chrome too?

[2018-04-13 15:33] wbamberg commented on #705
Then the compat data is wrong :)
https://developer.mozilla.org/en-US/docs/Web/CSS/text-decoration-skip#Browser_Compatibility

[2018-04-16 16:06] chrisdavidmills commented on #705
Ah, that's it - it only supports a deprecated value.

[2018-04-16 19:02] #699 closed

[2018-04-17 20:11] a2sheppy commented on #706
Couldn't this be solved by just making it so the editing is in one iframe and the output is in a second iframe, and the editor periodically updates the HTML or CSS contained in the iframe? That shouldn't be hard to do, in theory, although I don't know details of the implementation already in place.

[2018-04-17 20:17] chrisdavidmills commented on #706
Or could you do it so that the CSS applied to the output is put through an intermediary stage where it has a namespacing selector put at the start of the chain in each case, like .output-pane ?

[2018-04-18 07:59] chrisdavidmills commented on #706
@a2sheppy yeah, I get it does get tricky at that point. I would love to find time to play with this.

[2018-04-18 08:54] schalkneethling commented on #706
@a2sheppy I was thinking another iframe as well at first but, that means a different doc to use as the source. We also need to be sure we do not run into scripting issues where we are prevented from updating the CSS and HTML. Currently updates to this happens almost instantly(200ms delay once you stop typing) as you type.

While it is not impossible to generate two separate docs, it will make auth

[2018-04-18 08:56] schalkneethling commented on #706
The link portion of this is easy thankfully. I am simply going to attach an event listener to the output container and listen for any clicks on an anchor link that has a value that starts with at least `http`.

Once this happens, `preventDefault` and call `window.open(url);`

[2018-04-18 08:57] chrisdavidmills commented on #706
Could you use Polymer to polyfill it? I guess performance is then an issue.

[2018-04-18 08:59] schalkneethling commented on #706
@chrisdavidmills I will have a look at the weight it will add to the component. Thanks for the suggestion.

[2018-04-18 14:07] a2sheppy commented on #706
Yet another reason to regret that shadow DOM has taken so long to get widely implemented.

Makes me wish the `<div>` element had a `sandbox` attribute, to allow you to tell the browser to basically treat it like a mini-iframe. :)

[2018-04-19 09:54] schalkneethling opened #728 "[HTML Examples] Content sectioning ~ footer"
Need an HTML example for the `footer` element
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/footer

## Contributing

https://github.com/mdn/interactive-examples/blob/master/CONTRIBUTING.md#contributing-an-html-example

[2018-04-19 09:58] schalkneethling opened #729 "[HTML Examples] Content sectioning ~ <h1>–<h6>: The HTML Section Heading elements"
Need an HTML example for the HTML section heading elements
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/Heading_Elements

## Contributing

https://github.com/mdn/interactive-examples/blob/master/CONTRIBUTING-HTML.md

[2018-04-19 09:59] schalkneethling opened #730 "[HTML Examples] Content sectioning ~ header"
Need an HTML example for the `header` element
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/header

## Contributing

https://github.com/mdn/interactive-examples/blob/master/CONTRIBUTING-HTML.md

[2018-04-19 10:13] JeremiePat opened #731 "Make interactive examples suitable for SVG"
Hi!

I open that issue to discuss what is needed to make interactive example infrastrucutre suitable for SVG elements and attributes.

As far as it looks, the current HTML editor template looks good to be used for SVG but it would require a bit of investigation to make sur it is fully suitable. Here is a list of a few things that worth discussing to better suite SVG examples:

- Do we want SVG exa

[2018-04-19 12:10] schalkneethling opened #732 "[HTML Examples] Content sectioning ~ hgroup"
Need an HTML example for the `hgroup` element
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/hgroup

## Contributing

https://github.com/mdn/interactive-examples/blob/master/CONTRIBUTING-HTML.md

[2018-04-19 15:25] schalkneethling opened #733 "[HTML Examples] Content sectioning ~ nav"
Need an HTML example for the `nav` element
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/nav

## Contributing

https://github.com/mdn/interactive-examples/blob/master/CONTRIBUTING-HTML.md

[2018-04-19 15:27] schalkneethling opened #734 "[HTML Examples] Content sectioning ~ section"
Need an HTML example for the `section` element
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/section

## Contributing

https://github.com/mdn/interactive-examples/blob/master/CONTRIBUTING-HTML.md

[2018-04-19 15:28] schalkneethling opened #735 "[HTML Examples] Demarcating edits ~ del"
Need an HTML example for the `del` element
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/del

## Contributing

https://github.com/mdn/interactive-examples/blob/master/CONTRIBUTING-HTML.md

[2018-04-19 15:29] schalkneethling opened #736 "[HTML Examples] Demarcating edits ~ ins"
Need an HTML example for the `ins` element
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ins

## Contributing

https://github.com/mdn/interactive-examples/blob/master/CONTRIBUTING-HTML.md

[2018-04-19 15:31] schalkneethling opened #737 "[HTML Examples] Document metadata ~ link"
Need an HTML example for the `link` element
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/link

## Contributing

https://github.com/mdn/interactive-examples/blob/master/CONTRIBUTING-HTML.md

[2018-04-19 15:33] schalkneethling opened #738 "[HTML Examples] Document metadata ~ style"
Need an HTML example for the `style` element
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/style

## Contributing

https://github.com/mdn/interactive-examples/blob/master/CONTRIBUTING-HTML.md

[2018-04-19 15:37] schalkneethling opened #739 "[HTML Examples] Embedded content ~ embed"
Need an HTML example for the `embed` element
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/embed

## Contributing

https://github.com/mdn/interactive-examples/blob/master/CONTRIBUTING-HTML.md

[2018-04-19 15:38] schalkneethling opened #740 "[HTML Examples] Embedded content ~ iframe"
Need an HTML example for the `iframe` element
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/iframe

## Contributing

https://github.com/mdn/interactive-examples/blob/master/CONTRIBUTING.md#contributing-an-html-example

[2018-04-19 15:39] schalkneethling opened #741 "[HTML Examples] Embedded content ~ object"
Need an HTML example for the `object` element
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/object

## Contributing

https://github.com/mdn/interactive-examples/blob/master/CONTRIBUTING.md#contributing-an-html-example

[2018-04-19 15:40] schalkneethling opened #742 "[HTML Examples] Embedded content ~ param"
Need an HTML example for the `param` element
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/param

## Contributing

https://github.com/mdn/interactive-examples/blob/master/CONTRIBUTING.md#contributing-an-html-example

[2018-04-19 15:41] schalkneethling opened #743 "[HTML Examples] Embedded content ~ picture"
Need an HTML example for the `picture` element
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/picture

## Contributing

https://github.com/mdn/interactive-examples/blob/master/CONTRIBUTING-HTML.md

[2018-04-19 15:42] schalkneethling opened #744 "[HTML Examples] Embedded content ~ source"
Need an HTML example for the `source` element
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/source

## Contributing

https://github.com/mdn/interactive-examples/blob/master/CONTRIBUTING-HTML.md

[2018-04-19 15:47] schalkneethling opened #745 "[HTML Examples] Forms ~ button"
Need an HTML example for the `button` element
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/button

## Contributing

https://github.com/mdn/interactive-examples/blob/master/CONTRIBUTING-HTML.md

[2018-04-19 15:48] schalkneethling opened #746 "[HTML Examples] Forms ~ form"
Need an HTML example for the `form` element
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/form

## Contributing

https://github.com/mdn/interactive-examples/blob/master/CONTRIBUTING-HTML.md

[2018-04-19 15:50] schalkneethling opened #747 "[HTML Examples] Forms ~ label"
Need an HTML example for the `label` element
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/label

## Contributing

https://github.com/mdn/interactive-examples/blob/master/CONTRIBUTING-HTML.md

[2018-04-19 15:54] schalkneethling opened #748 "[HTML Examples] Forms ~ legend"
Need an HTML example for the `legend` element
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/legend

## Contributing

https://github.com/mdn/interactive-examples/blob/master/CONTRIBUTING-HTML.md

[2018-04-19 15:55] schalkneethling opened #749 "[HTML Examples] Forms ~ meter"
Need an HTML example for the `meter` element
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meter

## Contributing

https://github.com/mdn/interactive-examples/blob/master/CONTRIBUTING-HTML.md

[2018-04-19 15:57] schalkneethling opened #750 "[HTML Examples] Forms ~ option"
Need an HTML example for the `option` element
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/option

## Contributing

https://github.com/mdn/interactive-examples/blob/master/CONTRIBUTING-HTML.md

[2018-04-19 15:58] schalkneethling opened #751 "[HTML Examples] Forms ~ output"
Need an HTML example for the `output` element
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/output

## Contributing

https://github.com/mdn/interactive-examples/blob/master/CONTRIBUTING.md#contributing-an-html-example

[2018-04-19 15:59] schalkneethling opened #752 "[HTML Examples] Forms ~ progress"
Need an HTML example for the `progress` element
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/progress

## Contributing

https://github.com/mdn/interactive-examples/blob/master/CONTRIBUTING-HTML.md

[2018-04-19 15:59] schalkneethling opened #753 "[HTML Examples] Forms ~ select"
Need an HTML example for the `select` element
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/select

## Contributing

https://github.com/mdn/interactive-examples/blob/master/CONTRIBUTING-HTML.md

[2018-04-19 16:00] schalkneethling opened #754 "[HTML Examples] Forms ~ textarea"
Need an HTML example for the `textarea` element
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/textarea

## Contributing

https://github.com/mdn/interactive-examples/blob/master/CONTRIBUTING.md#contributing-an-html-example

[2018-04-22 06:39] schalkneethling opened #758 "[HTML Examples] Image and multimedia ~ area"
Need an HTML example for the `area` element
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/area

## Contributing

https://github.com/mdn/interactive-examples/blob/master/CONTRIBUTING-HTML.md

[2018-04-22 06:40] schalkneethling opened #759 "[HTML Examples] Image and multimedia ~ audio"
Need an HTML example for the `audio` element
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/audio

## Contributing

https://github.com/mdn/interactive-examples/blob/master/CONTRIBUTING-HTML.md

[2018-04-22 06:41] schalkneethling opened #760 "[HTML Examples] Image and multimedia ~ img"
Need an HTML example for the `img` element
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/img

## Contributing

https://github.com/mdn/interactive-examples/blob/master/CONTRIBUTING-HTML.md

[2018-04-22 06:42] schalkneethling opened #761 "[HTML Examples] Image and multimedia ~ map"
Need an HTML example for the `map` element
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/map

## Contributing

https://github.com/mdn/interactive-examples/blob/master/CONTRIBUTING-HTML.md

[2018-04-22 06:43] schalkneethling opened #762 "[HTML Examples] Image and multimedia ~ track"
Need an HTML example for the `track` element
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/track

## Contributing

https://github.com/mdn/interactive-examples/blob/master/CONTRIBUTING-HTML.md

[2018-04-22 06:44] schalkneethling opened #763 "[HTML Examples] Image and multimedia ~ video"
Need an HTML example for the `video` element
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/video

## Contributing

https://github.com/mdn/interactive-examples/blob/master/CONTRIBUTING-HTML.md

[2018-04-22 06:45] schalkneethling opened #764 "[HTML Examples] Inline text semantics ~ b"
Need an HTML example for the `b` element
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/b

## Contributing

https://github.com/mdn/interactive-examples/blob/master/CONTRIBUTING-HTML.md

[2018-04-22 06:46] schalkneethling opened #765 "[HTML Examples] Inline text semantics ~ bdi"
Need an HTML example for the `bdi` element
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/bdi

## Contributing

https://github.com/mdn/interactive-examples/blob/master/CONTRIBUTING-HTML.md

[2018-04-22 06:47] schalkneethling opened #766 "[HTML Examples] Inline text semantics ~ bdo"
Need an HTML example for the `bdo` element
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/bdo

## Contributing

https://github.com/mdn/interactive-examples/blob/master/CONTRIBUTING-HTML.md

[2018-04-22 06:48] schalkneethling opened #767 "[HTML Examples] Inline text semantics ~ br"
Need an HTML example for the `br` element
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/br

## Contributing

https://github.com/mdn/interactive-examples/blob/master/CONTRIBUTING-HTML.md

[2018-04-22 06:49] schalkneethling opened #768 "[HTML Examples] Inline text semantics ~ cite"
Need an HTML example for the `cite` element
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/cite

## Contributing

https://github.com/mdn/interactive-examples/blob/master/CONTRIBUTING-HTML.md

[2018-04-22 06:49] schalkneethling opened #769 "[HTML Examples] Inline text semantics ~ code"
Need an HTML example for the `code` element
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/code

## Contributing

https://github.com/mdn/interactive-examples/blob/master/CONTRIBUTING-HTML.md

[2018-04-22 06:50] schalkneethling opened #770 "[HTML Examples] Inline text semantics ~ data"
Need an HTML example for the `data` element
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/data

## Contributing

https://github.com/mdn/interactive-examples/blob/master/CONTRIBUTING-HTML.md

[2018-04-22 06:51] schalkneethling opened #771 "[HTML Examples] Inline text semantics ~ dfn"
Need an HTML example for the `dfn` element
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dfn

## Contributing

https://github.com/mdn/interactive-examples/blob/master/CONTRIBUTING-HTML.md

[2018-04-22 06:52] schalkneethling opened #772 "[HTML Examples] Inline text semantics ~ em"
Need an HTML example for the `em` element
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/em

## Contributing

https://github.com/mdn/interactive-examples/blob/master/CONTRIBUTING-HTML.md

[2018-04-22 06:52] schalkneethling opened #773 "[HTML Examples] Inline text semantics ~ i"
Need an HTML example for the `i` element
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/i

## Contributing

https://github.com/mdn/interactive-examples/blob/master/CONTRIBUTING-HTML.md

[2018-04-22 06:54] schalkneethling opened #774 "Encode example titles"
Encode HTML tags in the examples title:
https://github.com/mdn/interactive-examples/blob/master/live-examples/html-examples/content-sectioning/meta.json#L8

[2018-04-23 16:14] a2sheppy opened #778 "Add editor config file to help enforce our spacing standards"
Since the source files here have different spacing standards than nearly everything else we do at Mozilla (where 2-space is pretty much universal), we should add an editorconfig file to help ensure that spacing winds up right in the sources created for the examples.

[2018-04-23 16:16] a2sheppy commented on #778
Hm. There is one, but it's not working for me. Strange.

[2018-04-23 16:29] schalkneethling commented on #778
@a2sheppy Which editor are you using?

[2018-04-23 16:31] schalkneethling opened #780 "[HTML Examples] Inline text semantics ~ q"
Need an HTML example for the `q` element
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/q

## Contributing

https://github.com/mdn/interactive-examples/blob/master/CONTRIBUTING-HTML.md

[2018-04-23 16:32] schalkneethling opened #781 "[HTML Examples] Inline text semantics ~ rp"
Need an HTML example for the `rp` element
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/rp

## Contributing

https://github.com/mdn/interactive-examples/blob/master/CONTRIBUTING-HTML.md

[2018-04-23 16:33] schalkneethling opened #782 "[HTML Examples] Inline text semantics ~ rt"
Need an HTML example for the `rt` element
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/rt

## Contributing

https://github.com/mdn/interactive-examples/blob/master/CONTRIBUTING-HTML.md

[2018-04-23 16:34] schalkneethling opened #783 "[HTML Examples] Inline text semantics ~ rtc"
Need an HTML example for the `rtc` element
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/rtc

## Contributing

https://github.com/mdn/interactive-examples/blob/master/CONTRIBUTING-HTML.md

[2018-04-23 16:34] schalkneethling opened #784 "[HTML Examples] Inline text semantics ~ ruby"
Need an HTML example for the `ruby` element
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ruby

## Contributing

https://github.com/mdn/interactive-examples/blob/master/CONTRIBUTING-HTML.md

[2018-04-23 16:35] schalkneethling opened #785 "[HTML Examples] Inline text semantics ~ s"
Need an HTML example for the `s` element
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/s

## Contributing

https://github.com/mdn/interactive-examples/blob/master/CONTRIBUTING-HTML.md

[2018-04-23 16:36] schalkneethling opened #786 "[HTML Examples] Inline text semantics ~ samp"
Need an HTML example for the `samp` element
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/samp

## Contributing

https://github.com/mdn/interactive-examples/blob/master/CONTRIBUTING-HTML.md

[2018-04-23 16:37] schalkneethling opened #787 "[HTML Examples] Inline text semantics ~ small"
Need an HTML example for the `small` element
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/small

## Contributing

https://github.com/mdn/interactive-examples/blob/master/CONTRIBUTING-HTML.md

[2018-04-23 16:38] schalkneethling opened #788 "[HTML Examples] Inline text semantics ~ span"
Need an HTML example for the `span` element
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/span

## Contributing

https://github.com/mdn/interactive-examples/blob/master/CONTRIBUTING-HTML.md

[2018-04-24 12:45] Elchi3 commented on #759
I think this was already done in https://github.com/mdn/interactive-examples/pull/627

[2018-04-24 14:38] wbamberg commented on #759
Yeah, this was done, but I just threw something together for user testing. It's worth someone taking a look to see if they can improve it, I think.

[2018-04-24 22:13] #771 closed

[2018-04-25 10:15] #770 closed

[2018-04-25 13:19] chrisdavidmills opened #811 "When testing with local server, show editor with more realistic width"
I just thought — when writing the interactive examples we always try to make both the example and the code lines narrow enough so they fit comfortably inside their respective panes.

But when you text it locally, the editor is shown at the full screen width, which is a lot wider than it'll actually be shown in the content column on MDN.

It would be great to have an option to set it to the typical

[2018-04-25 14:05] #773 closed

[2018-04-25 15:55] schalkneethling commented on #778
@a2sheppy I think I saw that you are using VS Code. I would recommend adding:https://marketplace.visualstudio.com/items?itemName=esbenp.prettier-vscode

[2018-04-25 15:56] schalkneethling opened #815 "[HTML Examples] Inline text semantics ~ var"
Need an HTML example for the `var` element
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/var

## Contributing

https://github.com/mdn/interactive-examples/blob/master/CONTRIBUTING-HTML.md

[2018-04-25 15:57] schalkneethling opened #816 "[HTML Examples] Inline text semantics ~ wbr"
Need an HTML example for the `wbr` element
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/wbr

## Contributing

https://github.com/mdn/interactive-examples/blob/master/CONTRIBUTING-HTML.md

[2018-04-25 15:58] schalkneethling opened #817 "[HTML Examples] Input ~ input"
Need an HTML example for the `input` element
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input

## Contributing

https://github.com/mdn/interactive-examples/blob/master/CONTRIBUTING-HTML.md

[2018-04-25 15:59] schalkneethling opened #818 "[HTML Examples] Input ~ <input type="button">"
Need an HTML example for the `<input type="button">` element
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/button

## Contributing

https://github.com/mdn/interactive-examples/blob/master/CONTRIBUTING-HTML.md

[2018-04-25 17:55] wbamberg commented on #728
Sorry @a2sheppy , @2alin opened a PR for this one, and since it's already written I think we should go with that. I hope you don't mind giving it up.

[2018-04-25 18:44] a2sheppy opened #822 "Add some web fonts we can use in examples"
Between examples for using web fonts and HTML and other examples that may benefit from custom fonts, it would be helpful to have a selection of fonts available to use in any examples that wish to use them.

I would suggest some fonts in these categories:

* A cursive/script handwriting font
* Some sort of calligraphy-style font (a Chancery style font)
* A very bold font such as Impact

[2018-04-25 18:55] a2sheppy opened #823 "[HTML Examples] Web Components ~ template"
Need an HTML example for the `template` element: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/template

## Contributing
https://github.com/mdn/interactive-examples/blob/master/CONTRIBUTING-HTML.md

[2018-04-25 19:12] #780 closed

[2018-04-25 19:25] #768 closed

[2018-04-25 20:03] a2sheppy opened #824 "[HTML Examples] Text Content ~ dl"
Need an HTML example for the `dl` element: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dl

## Contributing
https://github.com/mdn/interactive-examples/blob/master/CONTRIBUTING-HTML.md

[2018-04-25 20:04] a2sheppy commented on #824
Work underway

[2018-04-25 20:06] a2sheppy opened #825 "Change examples to use 2-space tabs to be consistent with the rest of MDN"
MDN has always used 2-space tabs (with the exception of some pages created by volunteers and never fixed). Using 4-space tabs in interactive examples is inconsistent and should be changed to match. Unless we intend to change to a 4-space standard and update content the other direction.

[2018-04-25 22:27] #769 closed

[2018-04-25 22:38] #772 closed

[2018-04-25 22:55] #785 closed

[2018-04-26 10:30] #786 closed

[2018-04-26 14:02] atopal commented on #811
Yeah, this makes a lot of sense to me. A mockup MDN page would be even nicer :)

[2018-04-26 14:43] MkllTech commented on #822
Hi, do these fonts need to be open and 100% free? If so I've got some.

[2018-04-26 15:10] wbamberg commented on #811
This would definitely be useful, but IMO both writing examples and fixing https://github.com/mdn/interactive-examples/issues/706 are higher priorities.

[2018-04-26 17:02] #787 closed

[2018-04-26 19:44] finetype opened #831 "example is broken"
https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type

^interact example doesn't change. (Chrome 64)

[2018-04-26 21:25] wbamberg commented on #831
It's not broken, exactly, but Chrome doesn't support all the `list-style-type` syntax. Try it in Firefox, it should work better.

On the other hand, we should be clearer about representing partially supported or unsupported features.

[2018-04-27 00:44] a2sheppy opened #835 "[HTML Examples] Text Content ~ dt"
Need an HTML example for the `dt` element: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dt

## Contributing
https://github.com/mdn/interactive-examples/blob/master/CONTRIBUTING-HTML.md

[2018-04-27 01:16] a2sheppy opened #837 "Entities in HTML are getting converted to the real character"
If I have this HTML in my example's HTML:

[code]

The entities are getting converted into "<" and ">" respectively, breaking the example. The HTML
tab's contents show:

[code]

That HTML is broken, resulting in unusable examples. These should be left alone.

[2018-04-29 07:55] #735 closed

[2018-04-29 18:35] 2alin commented on #837
Same problem here, all the entities I used were converted and displayed in the editor.

[2018-04-30 22:45] #831 closed

[2018-04-30 23:52] #732 closed

[2018-05-01 10:50] #774 closed

[2018-05-01 10:52] schalkneethling opened #860 "Change output of tabbed editor to use shadow DOM"
Because of [this issue](https://github.com/mdn/interactive-examples/issues/706) it has been decided that we are converting the output pane of the tabbed editor to use ShadowDOM.

Other than Firefox and Edge, browser support is good. For the first two, we will polyfil using Polymer until support is shipped in those browsers.

[2018-05-01 17:24] #743 closed

[2018-05-01 19:25] wbamberg opened #862 "Have a standard way to write attributions"
Over in https://github.com/mdn/interactive-examples/pull/842 we discussed how we should attribute images.

I think our conclusions could be something like:

* recommend [unsplash](https://unsplash.com/) as a good source of images
* attribute them and link to the photographer, using some HTML like:

[code]

But this is basically metadata, so I wondered whether it would be worth making it part of th

[2018-05-02 10:39] schalkneethling opened #870 "Run tests on different host from dev server"
A number of people have run into the problem where the puppeteer tests are failing because the dev server is running in a separate terminal causing a port conflict.

Best to have them not share the same port.

[2018-05-02 16:20] #736 closed

[2018-05-02 22:58] #815 closed

[2018-05-03 11:04] Elchi3 opened #881 ".output class doesn't apply anymore"
It seems like using `.output` in the CSS tab doesn't work anymore now that we're using Shadow DOM.

I see no hamster here, for example:
http://127.0.0.1:9090/pages/tabbed/select.html
CSS: https://github.com/mdn/interactive-examples/blob/master/live-examples/html-examples/forms/css/select.css

[2018-05-03 19:09] wbamberg commented on #881
These are all the existing examples that use .output:

[code]

I think there are a couple of options, and I'd welcome opinions!

(1) have `<div class="output">` wrapping the shadow DOM contents.
(2) make examples include the container element explicitly in the HTML pane.

The advantages of (1) are that existing examples don't need to change, and (more importantly IMO) we keep the HTML pane content

[2018-05-03 19:15] wbamberg opened #887 "@font-face doesn't work with Shadow DOM?"
Related to https://github.com/mdn/interactive-examples/issues/881: the `input` examples generally use `.output` to set the font to one that we loaded using `@font-face`. But changing this seems to indicate that the custom font specified using `@font-face` isn't being loaded any more.

For example, in https://interactive-examples.mdn.mozilla.net/pages/tabbed/input-file.html, changing

[code]

to

[

[2018-05-04 19:27] #788 closed

[2018-05-04 20:42] #739 closed

[2018-05-05 07:11] wbamberg commented on #730
Fixed -> https://github.com/mdn/interactive-examples/pull/789

[2018-05-05 07:11] #730 closed

[2018-05-05 07:12] wbamberg commented on #734
Fixed -> https://github.com/mdn/interactive-examples/pull/888

[2018-05-05 07:12] #734 closed

[2018-05-05 07:14] wbamberg commented on #746
Fixed -> https://github.com/mdn/interactive-examples/pull/793

[2018-05-05 07:14] #746 closed

[2018-05-05 07:14] wbamberg commented on #747
Fixed -> https://github.com/mdn/interactive-examples/pull/794

[2018-05-05 07:14] #747 closed

[2018-05-05 07:15] wbamberg commented on #748
Fixed -> https://github.com/mdn/interactive-examples/pull/795

[2018-05-05 07:15] #748 closed

[2018-05-05 07:15] wbamberg commented on #749
Fixed -> https://github.com/mdn/interactive-examples/pull/798

[2018-05-05 07:15] #749 closed

[2018-05-05 07:16] wbamberg commented on #750
Fixed -> https://github.com/mdn/interactive-examples/pull/800

[2018-05-05 07:16] #750 closed

[2018-05-05 07:16] wbamberg commented on #752
Fixed -> https://github.com/mdn/interactive-examples/pull/801

[2018-05-05 07:16] #752 closed

[2018-05-05 07:16] wbamberg commented on #753
Fixed -> https://github.com/mdn/interactive-examples/pull/800

[2018-05-05 07:16] #753 closed

[2018-05-05 07:32] wbamberg commented on #835
(I hope you don't mind me jumping in here @a2sheppy )

Thanks for offering to help! Yes, this one was added already, but we haven't been very good at keeping the bug tracker updated. I just went through and closed some bugs, so it ought to be a little better now.

What I'd suggest you do is: take a look at https://docs.google.com/spreadsheets/d/1EC23mRNF7i-Bd29A4wEcFV_iiThL1P-NBtH4lzme8eM/edit#gid

[2018-05-05 07:33] wbamberg commented on #835
This issue was fixed by https://github.com/mdn/interactive-examples/pull/833.

[2018-05-05 07:33] #835 closed

[2018-05-05 07:50] nnupoor commented on #817
Hey @schalkneethling I'm picking up this issue and would put in a PR today.

[2018-05-07 15:25] #816 closed

[2018-05-07 20:33] #744 closed

[2018-05-07 23:35] wbamberg commented on #887
Weirdly this seems to work in production: https://interactive-examples.mdn.mozilla.net/pages/tabbed/input-email.html, just not in the local testing server.

[2018-05-08 11:42] Elchi3 commented on #737
Is this really suitable? I'm a bit unsure what demo interactively here. Ideas?

[2018-05-08 18:34] #738 closed

[2018-05-08 19:14] wbamberg commented on #767
Fixed -> https://github.com/mdn/interactive-examples/pull/828

[2018-05-08 19:14] #767 closed

[2018-05-09 09:05] schalkneethling commented on #870
This has been resolved.

[2018-05-09 09:05] #870 closed

[2018-05-09 09:39] Elchi3 commented on #737
Ah, okay, I haven't realized the media folder yet. I think that would work, I will work on it. Thank you, Will!

[2018-05-09 10:47] #817 closed

[2018-05-09 13:08] #690 closed

[2018-05-09 18:03] #733 closed

[2018-05-09 19:47] nfanta opened #913 "CSS cursor example doesn't work with cursor: grab"
Hi,

I just noticed that the property `cursor: grab;` is not being properly updated on the example element.

I've checked a bit about how the css examples work and noticed that they use the elements `style.cssText` property to set the example css.
The curious thing is that when I test it on my browser (chrome) it doesn't work, but it does in firefox. (maybe if I'm reading MDN I could use Firefox :

[2018-05-09 20:53] a2sheppy opened #914 "[HTML Examples] Text Content ~ main"
Need an HTML example for the dt element: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/main

## Contributing

https://github.com/mdn/interactive-examples/blob/master/CONTRIBUTING-HTML.md

[2018-05-09 22:39] wbamberg commented on #913
Thanks for filing @nfanta !

The issue here I think is that `grab` must be prefixed in Chrome. Try changing the value to

[code]

and it works. It's not clear to me what the interactive examples should do in situations like this. I suppose in a perfect world, they would somehow figure out that the value needs to be prefixed in the particular browser they are running in, then auto-prefix the value

[2018-05-09 22:39] #913 closed

[2018-05-09 22:41] wbamberg opened #915 "Use Code Mirror for the CSS examples"
The "editor" for the CSS examples is not very robust. I think we should consider using CodeMirror here. I don't know what the cost of instantiating 6 instances of the editor is, but I think it's worth investigating.

[2018-05-10 08:06] schalkneethling commented on #778
Closing this as we use Prettier to ensure appropriate formatting and eslint for JS. Both configurations for this are contained in the project.

For VSCode you should add: https://marketplace.visualstudio.com/items?itemName=esbenp.prettier-vscode

For Atom: https://github.com/prettier/prettier-atom

[2018-05-10 08:06] #778 closed

[2018-05-10 08:07] schalkneethling commented on #706
Being worked on here: https://github.com/mdn/interactive-examples/issues/860 - Closing as duplicate.

[2018-05-10 08:07] #706 closed

[2018-05-10 08:18] schalkneethling commented on #881
## Acceptance Criteria

Examples that uses `.output` class for styling works again.

[2018-05-10 08:25] schalkneethling commented on #825
We use Prettier to format all code. Kuma is also in the process of switching over to using Prettier and this is documented in MDN-Fiori.

4 space is for CSS and JS
2 spaces is for HTML

[2018-05-10 08:25] #825 closed

[2018-05-10 08:27] schalkneethling commented on #837
@a2sheppy @2alin Is this happening in the left pane(aka editor) or in the output pane? Thanks for reporting.

[2018-05-11 05:43] a2sheppy commented on #837
In the editor. The source is changed.

--
Eric Shepherd
Senior Technical Writer
Mozilla Developer Network
https://developer.mozilla.org/
Blog: http://www bitstampede.com/
Twitter: https://twitter.com/sheppy

On May 10, 2018 at 4:27 AM, Schalk Neethling <notifications@github.com>
wrote:

@a2sheppy <https://github.com/a2sheppy> @2alin <https://github.com/2alin>
Is this happening in the left pane(aka

[2018-05-11 08:03] schalkneethling commented on #837
Ah ok, so that is CodeMirror then. There is probably a config property I can set for that panel so that it does not exhibit that behaviour.

[2018-05-15 17:04] wbamberg opened #925 "text-overflow example doesn't overflow at some screen widths"
Taken from https://bugzilla.mozilla.org/show_bug.cgi?id=1459517.

I think the simplest fix would be to use a fixed width for the container. For example, change this: https://github.com/mdn/interactive-examples/blob/master/live-examples/css-examples/basic-user-interface/text-overflow.css#L1-L3 to something like:

[code]

[2018-05-16 08:09] stephanmax commented on #759
Would you mind me taking a look?

[2018-05-16 08:15] stephanmax commented on #925
I would be happy to take this one as my first bug and an opportunity to work through the contributing guide.

[2018-05-16 15:02] wbamberg commented on #759
@stephanmax , I would not mind at all!

[2018-05-18 09:37] #759 closed

[2018-05-18 09:40] #818 closed

[2018-05-18 09:41] #745 closed

[2018-05-18 09:55] #761 closed

[2018-05-18 20:39] dagolinuxoid opened #938 "[HTML Examples] Text content <figcaption>"
At the moment the stage is 'Not started' so I can give it a try.

[2018-05-18 23:12] #758 closed

[2018-05-19 00:42] #760 closed

[2018-05-19 20:00] connorshea commented on #915
I don't know if it'd be overkill, but have you looked at monaco editor? https://github.com/Microsoft/monaco-editor

[2018-05-22 05:09] dagolinuxoid commented on #938
@wbamberg, I've finished the example for figcaption and made pr few days ago — you can take a look and comment: is it ok or not. https://github.com/mdn/interactive-examples/pull/941

[2018-05-23 07:25] renovate opened #943 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: Preset name not found within published preset config (monorepo:angularmaterial). Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2018-05-23 09:25] #943 closed, assigned to nobody

[2018-05-23 13:29] #762 closed

[2018-05-23 13:30] #763 closed

[2018-05-24 23:40] wbamberg opened #946 "Links should not open in the same browsing context"
Originally reported in https://github.com/mdn/interactive-examples/issues/706

Clicking links loads the page into the entire example, not just the output:

![html-examples-escape-2](https://user-images.githubusercontent.com/432915/38700256-4f063b0c-3e4f-11e8-9dce-7a3adcf19eb4.gif)

Suggested solution: https://github.com/mdn/interactive-examples/issues/706#issuecomment-382315508 sounds good!

[2018-05-28 11:56] schalkneethling opened #952 "Possible bug with negative numbers in console.log"
In PR https://github.com/mdn/interactive-examples/pull/949 @goodwin64 pointed out that the last `console.log` statement actually output `-0` in the browsers native console. The JS editor output `0` though so, there is a bug somewhere in the output formatting that discards the `-`

[2018-05-28 18:19] wbamberg commented on #938
Fixed! -> https://github.com/mdn/interactive-examples/pull/941

[2018-05-28 18:19] #938 closed

[2018-06-02 21:28] stephanmax commented on #946
I'd be happy to take on this one.

[2018-06-03 10:09] schalkneethling commented on #946
@stephanmax You are most welcome to grab this one. Ensure you are on the latest from master, because the output is now in a shadow dom. Also, the UX we decided on is to simply open these links in a new tab. Thanks for your contributions.

[2018-06-03 10:09] schalkneethling commented on #946
## Acceptance Criteria

Links inside the output area of the tabbed editor open in a new tab when clicked.

[2018-06-05 08:55] #952 closed

[2018-06-05 13:27] schalkneethling commented on #837
## Acceptance Criteria

When entities are specified in the HTML example, they should not be converted to the tag but remain an entity

[2018-06-05 13:38] schalkneethling commented on #837
Ok, so I could have read the pre-parsed content with `innerHTML` but, it seems to be escaping both `<` and `>`

[code]

This looks very much like we will have to define our own "entity" that I can that match using a RegEx and replace with either `&lt;` or `&gt;`

Thoughts @wbamberg @CShepartd @2alin @chrisdavidmills?

[2018-06-05 15:28] a2sheppy commented on #837
Hm. That'd be odd. I would think that we would probably need to do that at
save/load time, so that writers can keep using the entities they're used to
instead of having to learn custom ones for this. Convert "&gt;" to "@@gt@@"
or whatever when saving, and reverse it when loading into the editor.
Something like that.

On Tue, Jun 5, 2018 at 9:38 AM, Schalk Neethling <notifications@github.com>
wrote

[2018-06-05 18:27] #782 closed

[2018-06-06 09:15] #881 closed

[2018-06-06 11:28] schalkneethling commented on #693
I am introducing three classes that will be usable on the editor itself, as well as via the macro:

[code]

[2018-06-06 23:41] wbamberg commented on #837
What if we ask contributors to escape the `&`:

So the source file has:
[code]
...which looks in the editor like:
[code]
...and looks in the output like:
[code]

[2018-06-07 08:27] schalkneethling commented on #837
@wbamberg That is a great work-around. It does feel a little odd to write, but how often will we need this. I reckon it is the cleanest of the available options. Nice catch. What does everyone else think?

[2018-06-07 16:31] wbamberg commented on #837
It's come up twice in the course of writing >100 examples, so not often (but more than once :)). I think it would be a speedbump for a contributor, but not too bad if we document it. And it's a more logical thing than some weird entity we cook up ourselves.

Mostly though, I'd much rather do this than have some Regex preprocessing for this special case, that  feels fragile to me.

[2018-06-07 16:37] schalkneethling commented on #837
I 100% agree. @wbamberg you want to take this one and document it?

[2018-06-07 20:31] a2sheppy commented on #837
That's pretty funky, but it'll do the job. :)

On Thu, Jun 7, 2018 at 12:37 PM, Schalk Neethling <notifications@github.com>
wrote:

--

Eric Shepherd
Senior Technical Writer
Mozilla
Blog: http://www.bitstampede.com/
Twitter: http://twitter.com/sheppy
Check my Availability <https://freebusy.io/eshepherd@mozilla.com>

[2018-06-08 10:31] #837 closed

[2018-06-08 15:38] #783 closed

[2018-06-08 22:29] #784 closed

[2018-06-19 11:33] schalkneethling opened #976 "Inline perf.js for performance marks and measure"
We now have a `perf.js` script that set’s certain marks and measure during document load time. The best way to utilise this is in the `head` of the document so it is non blocking and can start capturing measurements as soon as possible.

[2018-06-20 08:20] #693 closed

[2018-06-20 08:21] schalkneethling commented on #946
@stephanmax Just a quick check-in. Are you actively working on this at the moment?

[2018-06-20 09:03] stephanmax commented on #946
Hey @schalkneethling, thanks for the ping and sorry for the delay. Absolutely, I am on it. Please expect a PR by Friday.

[2018-06-26 17:38] wbamberg opened #995 "Add a build step to squash images"
We should already check in review that images are not too big, but it would be helpful to have a build step that automatically squashes images.

[2018-06-26 17:41] wbamberg opened #996 "Consider removing background images"
See https://github.com/mdn/interactive-examples/pull/800#issuecomment-399287984. We should figure out which examples include "irrelevant" background images and whether the examples would work better without them.

## Acceptance criteria

We've decided whether to remove background images, and done so if we decided we wanted to.

[2018-06-26 17:44] wbamberg opened #997 "Remove image attribution footers"
At the moment we usually use images from unsplash.com and attribute them in a footer. The footer adds extra markup and CSS that distracts from the main point of the example. We should use public domain images and remove the footer.

## Acceptance criteria

- [x] Add assorted CC0 images to the IE repository that can be used by contributors
- [x] Examples that include images or other resources use p

[2018-06-26 21:36] a2sheppy commented on #996
That's a tricky one. Some things might seem like the background images are unnecessary, but the images in fact make the example a little more real-world.

[2018-06-26 22:18] wbamberg opened #998 "Add examples for the JavaScript String APIs"
We missed all the [JS String](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String) APIs. We should have examples of these APIs (or those of them that are suitable, anyway).

Excluding deprecated APIs, there are max 32 of these.

Tracking spreadsheet: https://docs.google.com/spreadsheets/d/1nQkMor1EDaCdP0uhC41QSMM7iR0pNrs9YHUboLEUCjc/edit?usp=sharing

## Acceptan

[2018-06-26 22:36] wbamberg opened #999 "Finish HTML element examples"
There are still 7 HTML elements missing an example:

[code]

## Acceptance criteria

All HTML elements have interactive examples, except those we have explicitly marked as not suitable for examples.

[2018-06-27 11:52] schalkneethling commented on #946
Hey @stephanmax, quick follow up on this one. While it is not a huge priority for us at the moment, I want to be sure it is not causing you any stress. If you are simply swamped with work/life, I am happy to take this one.

There will definitely always be work that you can contribute to in this project so, please do not feel bad if you need to drop this one. Thanks!

[2018-06-27 19:32] jwhitlock commented on #976
I _think_ this is closed, based on #977 being deployed.

[2018-06-27 19:32] #976 closed

[2018-06-28 10:42] chrisdavidmills opened #1003 "Radio button interactive examples are problematic — you can select all options at once"
On Firefox anyway. I just tested it on Nightly v62.

See these examples:

* https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/radio
* https://developer.mozilla.org/en-US/docs/Web/HTML/Element/fieldset

You can select all the options at once, and you should be able to. They all have the same name attribute value.

This is not a problem on Chrome, but it is on Firefox.

[2018-06-28 14:45] schalkneethling opened #1005 "Implement Web API editor prototype"
Implement the new Web API editor. Ensure the same workflow exists. Have at least 3 DOM AP
I examples to enable us to user test.

## Acceptance Criteria

- [x] Switch to using mdn/bob as the official builder
- [x] Clean up of interactive-examples repo
- [x] Prototype ready with examples for user testing

[2018-06-28 16:22] schalkneethling commented on #441
## Acceptance Criteria

Documentation and proposal on handling scenarios where either a single property, or an entire feature is not supported. The proposal should include a visual prototype and how much effort would be involved in readying a prototype for user testing.

[2018-06-29 11:20] a2sheppy opened #1007 "Show a more user-friendly error for missing examples"
Currently, when an example is missing, the iframe container winds up with very user-unfriendly and potentially confusing contents:

<img width="1058" alt="image" src="https://user-images.githubusercontent.com/1641439/42089788-c2b5c41e-7b6c-11e8-9073-70e71e140b3f.png">

Instead, we should show an explanation with links to information about contributing interactive-examples and other links that will

[2018-06-30 05:33] wbamberg commented on #1003
Do you mean "should **not** be able to"? From the docs:

...so they *should* have the same name, so they are all part of the same group, so only one is selectable. Right?

The problem seems to be that Firefox expects them to be inside a `<form>` element, or it doesn't respect this. Try copying the example in the page body:

[code]

...into the editor. It works. Remove the surrounding `<form>`. It

[2018-06-30 05:51] AreaOfAKite commented on #573
I will research applicable fonts.

[2018-06-30 06:50] wbamberg commented on #573
@AreaOfAKite , I went through this a little while ago when updating the [`font-stretch`](https://developer.mozilla.org/en-US/docs/Web/CSS/font-stretch) page, and found [League Mono Variable](http://tylerfinck.com/leaguemonovariable/), which works very nicely :).

[2018-07-01 08:19] schalkneethling commented on #946
@stephanmax No worries, thanks so much for sticking with it and the PR. I will review ASAP.

[2018-07-02 10:44] chrisdavidmills commented on #1003
D'oh, yes I did mean that! That one typo scuppered the entire meaning of the issue ;-)

So yes, it looks like we'll have to add form elements into these examples at some point. Thanks for investigating.

[2018-07-04 15:49] #946 closed

[2018-07-04 19:02] wbamberg opened #1013 "<style> example breaks editor"
[The example for `<style>`](https://interactive-examples.mdn.mozilla.net/pages/tabbed/style.html) breaks the editor UI when the CSS is edited:

![html-style-bug](https://user-images.githubusercontent.com/432915/42291670-1d4870b6-7f82-11e8-9e22-6042bf69131c.gif)

I have no idea why. It's possible that `<style>` won't be suitable for an interactive example.

[2018-07-04 19:04] wbamberg opened #1014 "[HTML Examples] need an example for <a>"
We need an HTML example for the `<a>` element
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/a

## Contributing

https://github.com/mdn/interactive-examples/blob/master/CONTRIBUTING-HTML.md

[2018-07-04 19:06] wbamberg commented on #999
Sounds great @stephanmax . It would probably be good to have separate issues for each example, so more than one person can contribute examples. There are already issues for four of these examples, some of which have been started:

* [`<bdo>`](https://github.com/mdn/interactive-examples/issues/766) - this is currently unassigned, although @Elchi3 [started a PR for it](https://github.com/mdn/interac

[2018-07-05 21:01] stephanmax commented on #1013
I think what blows up here is this code inside the `render` function in [editor.js](https://github.com/mdn/interactive-examples/blob/master/js/editor.js):

[code]

All `style` elements are selected (`A`), including the one coming from inside the HTML editor. Since that one is not a direct child of the shadow root, calling `removeChild` (`B`) on it throws an error. The `render` method exits and we

[2018-07-06 08:50] #1013 closed

[2018-07-10 09:57] #1014 closed

[2018-07-11 07:13] stephanmax commented on #737
I’m happy to work on this.

[2018-07-11 16:42] wbamberg commented on #532
I've promised for ages to write something up about this. Here are some suggestions for discussion.

# Dealing with unsupported CSS

One big weakness of the CSS interactive examples editor is that it doesn’t handle unsupported CSS well. At the moment this is stopping us from including examples for properties that don’t have good cross-browser support (including, for example, all the logical propert

[2018-07-12 11:55] #1003 closed

[2018-07-12 13:57] joshunger opened #1033 "color-adjust example does not render or work in Chrome 69 or Safari"
1. Open Google Chrome Canary 69
2. Visit https://developer.mozilla.org/en-US/docs/Web/CSS/color-adjust

![image](https://user-images.githubusercontent.com/2301847/42637730-2b016ece-85a9-11e8-869d-3921d48f088b.png)

The example works correctly FireFox Nightly.
![image](https://user-images.githubusercontent.com/2301847/42638122-1adfeea2-85aa-11e8-8c6f-d950803776f1.png)

[2018-07-12 15:04] wbamberg commented on #1033
Thanks for filing!

It's because this property is prefixed in Chrome, and we don't auto-prefix (yet). We have the beginning of a plan to deal with cases like this better (https://github.com/mdn/interactive-examples/issues/532#issuecomment-404235636). In the meantime, though, this is a bad experience for a lot of our users so I have removed the example from the page.

[2018-07-12 15:04] #1033 closed

[2018-07-12 21:15] wbamberg commented on #887
It looks like this is still not loading the custom fonts. In this example "He-Man" should use [molot](https://www.fontsquirrel.com/fonts/Molot), and "Skeletor" should use [rapscallion](https://www.dafont.com/rapscallion.font).

<img width="442" alt="screen shot 2018-07-12 at 2 13 39 pm" src="https://user-images.githubusercontent.com/432915/42659671-d5577bdc-85dd-11e8-81c8-6e2ce8addef6.png">

[2018-07-13 09:55] schalkneethling commented on #887
I tested this on production at:
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/caption

Tested in Chrome, Fx Release, Developer, Nightly, as well as Safari. They all display as below:

<img width="1056" alt="screen shot 2018-07-13 at 11 51 25" src="https://user-images.githubusercontent.com/10350960/42685520-74177e2e-8693-11e8-8b0c-a3573b8b82f2.png">

Perhaps cache because of the experim

[2018-07-13 14:59] wbamberg commented on #887
Oh yes! Works great. Must have been the cache :).

[2018-07-13 14:59] #887 closed

[2018-07-17 07:32] stephanmax commented on #737
@wbamberg, this can be closed after PR #1029 got merged.

[2018-07-17 12:56] chrisdavidmills commented on #532
This sounds mostly good to me.

There is a potential fourth option — the browser supports much the same thing, but using a non-standard property name, or even non-standard syntax. Take `:matches` / `:any` or `:focus-visible` / `:-moz-focusring` as examples. I think however that in these cases perhaps working out the exact nature of the support and what to do in each case is just too horrible, and

[2018-07-19 22:03] #737 closed

[2018-07-20 16:33] wbamberg commented on #532
Yes, I agree. We should also be pragmatic here: if there are lots of cases like this, we should try to do something nice. If there are only a few, omitting them is fine. I don't think there are enough to be worth our time designing something tricky for.

I feel like this kind of approach obtrudes the page design into the docs. I think it is cleaner to omit the editor. Someone, say, using Chrome to

[2018-07-23 07:55] chrisdavidmills commented on #532
Yup, for sure. I would agree with this.

I do understand and agree with your counter-point here. I guess it's a trade off between slightly messier doc design for newer readers ("eewww, big box with error message in looks messy") versus less confusing design for more experienced readers with learned behaviour ("where is the interactive example? This page looks broken"). Could do with some user test

[2018-07-23 20:32] atopal commented on #532
Thanks Will! This all sounds good to me. I'd add that prefixes are going to be less and less of a concern moving forward, same with non-standard features. So it seems fine to me to ignore them, especially in an initial implementation.

[2018-07-24 13:47] chrisdavidmills commented on #999
`<bdi>` and `<bdo>` examples done: https://github.com/mdn/interactive-examples/pull/1041

[2018-07-24 13:49] chrisdavidmills commented on #999
`<link>` example also done: https://github.com/mdn/interactive-examples/pull/1029

[2018-07-24 13:51] stephanmax commented on #999
Cool, that only leaves `<h*>`, I think. I know there is a PR and I wasn't sure what the usual process is for those scenarios, but I am happy to jump in and finish that example.

[2018-07-24 13:54] chrisdavidmills commented on #999
@stephanmax if you'd be willing to jump in and finish off the h1-h6 example, that would be much appreciated! Feel free to put me as a reviewer once you're done. Sheppy was working on it, but he has been pulled on to other things now.

In that case, I can move on to the HTML global attribute live examples.

[2018-07-24 13:57] chrisdavidmills commented on #999
Oh, and just for the record, we also have an example in for `<a>`: https://github.com/mdn/interactive-examples/pull/1022

(Thanks again @stephanmax !)

[2018-07-24 14:02] stephanmax commented on #999
My pleasure, @chrisdavidmills. Will get the `<h*>` example in.

[2018-07-26 13:17] schalkneethling commented on #729
Note: This issue is being worked on by a community member.

[2018-07-26 13:31] a2sheppy commented on #996
Have we made decisions on this? I know I used background images in a couple of examples but did so to help demonstrate a technology in something vaguely resembling a real-world scenario, because it makes it easier to understand why you'd use the thing in the first place. Generally yeah, these can be simplified further, but I worry that doing so risks making the element appear less useful in these

[2018-07-26 13:33] a2sheppy commented on #997
I think we should find and add to the site's repo a modest selection of assorted public domain images that we can choose among, and then update examples to select from those. They should be of a few different types of objects, with different contrast levels and sizes.

[2018-07-26 15:24] MrBojangles commented on #729
like this?
<div>
  <h1>H1 Beetles</h1>
  <div style="margin-left: 10px;">
    <h2>H2 Etymology</h2>
  </div>
  <div style="margin-left: 10px;">
    <h2>H2 Distribution and Diversity</h2>
  </div>
  <div style="margin-left: 10px;">
    <h2>H2 Evolution</h2>
    <div style="margin-left: 10px;">
      <h3>H3 Late Paleozoic</h3>
    </div>
    <div style="margin-left: 10px;">
      <h3>H3 Jurassic</h3

[2018-07-26 16:26] chrisdavidmills opened #1058 "Certain attributes don't work in the interactive example editor in Firefox"
So, this is true for both the accesskey example that has already been merged, and the spellcheck example that is currently in PR (https://github.com/mdn/interactive-examples/pull/1057).

When I test them on my local machine in a simple static page, they work in Firefox (e.g. the attributes have the expected effect). But when I embed them in the interactive example editor iframe, they don't work in

[2018-07-27 10:29] chrisdavidmills commented on #729
Just to be clear, and so that noone's time is wasted, I think @stephanmax is working on this one. I'll assign him.

[2018-07-27 10:30] chrisdavidmills commented on #729
Ah, I can't assign him specifically...but at least we know now ;-)

[2018-07-27 11:12] schalkneethling commented on #729
Thanks for the heads up @chrisdavidmills. There is currently an open PR from @a2sheppy for this issue:

https://github.com/mdn/interactive-examples/pull/911

Not sure if @stephanmax should incorporate the work from it, or whether @a2sheppy might want to fix up the items mentioned by @wbamberg and we can simply merge his original PR.

[2018-07-27 11:40] chrisdavidmills commented on #729
@stephanmax feel free to file a new one, if you would find that easier.

[2018-07-27 23:34] wbamberg opened #1065 "Use disambiguating prefix for all HTML attribute examples"
The example for the `style` attribute calls the resulting file "style-attr.html", to avoid a clash with the `<style>` element.

This is nice, but we should do this for all attribute examples, and use the form "attribute-style.html" to distinguish this group more clearly and to be consistent with what we have done for CSS functions: https://github.com/mdn/interactive-examples/blob/master/live-examp

[2018-07-28 18:05] schalkneethling commented on #766
Note: This is being worked on by a community member

[2018-07-28 21:32] wbamberg commented on #766
This is done, isn't it? https://github.com/mdn/interactive-examples/pull/1041.

[2018-07-29 09:42] schalkneethling commented on #766
@wbamberg Dang, you are correct

[2018-07-29 09:42] #766 closed

[2018-07-29 09:43] #765 closed

[2018-07-31 11:25] schalkneethling commented on #729
Hey All,

Are we going to close https://github.com/mdn/interactive-examples/pull/911 and https://github.com/mdn/interactive-examples/pull/1053 in favour of the work @stephanmax is doing?

I believe we should, as it is a bit confusing at the moment. Thanks to everyone who contributed here.

[2018-07-31 14:40] chrisdavidmills commented on #729
@schalkneethling Yeah, makes sense.

[2018-08-01 10:26] schalkneethling commented on #441
@wbamberg I was thinking over this some more, what if we use an approach such as in this POC.

https://codepen.io/schalkneethling/pen/GBxoQM

Let me know your thoughts?

[2018-08-01 11:09] a2sheppy commented on #997
PR #1082 adds the stock images.

[2018-08-02 17:12] a2sheppy opened #1085 "Example for <picture> doesn't do what it says it does"
It's designed to replace the photo when the width passes back and forth across 1000px, but because the example is constrained to a small box, that never happens.

[2018-08-02 17:33] a2sheppy commented on #997
I’ve now merged PR #1082 and am in the process of creating PRs for each example that needs to be updated.

[2018-08-07 22:17] a2sheppy commented on #996
Submitted PRs to remove backgrounds from the following HTML elements:

* datalist
* optgroup
* option

Submitted a PR to replace the background of the following element with a CC0 one:

* header

These include removing the attribution blocks. I looked through all of the elements, and these are the only ones that needed work regarding removal of backgrounds (header technically is part of cc0 but wo

[2018-08-08 17:33] wbamberg commented on #729
@stephanmax , are you still planning to write this example? No worries at all if you don't the the time, just let us know so we can finish it off otherwise . And thanks for all the examples you have contributed already :).

[2018-08-17 09:15] #257 closed

[2018-08-23 14:59] stephanmax commented on #729
Sorry about that, @wbamberg, bad timing during an intense phase on my side. On it now!

[2018-08-24 20:01] guillaumebreux opened #1115 "CSS position example doesn't work in Safari"
**Related article:** https://developer.mozilla.org/en-US/docs/Web/CSS/position

After looking at this example on safari, you can see that there is no prefix on the sticky property causing the example to fail.

But, even if you set the prefix, it won't work because the element is a `inline-block` element and Safari seems to only apply this position value on a `block` element (see here: http://jsfid

[2018-08-27 21:10] jacobq opened #1117 "Missing quotation mark in try/catch example"
Attempting to run https://github.com/mdn/interactive-examples/blob/bd8a91b5dd6c85c51adce007218838d3daf1d465/live-examples/js-examples/statement/statement-trycatch.html#L3 produces:

(i.e. to reproduce the problem go to [the MDN `try...catch` page](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/try...catch) and click "Run >")

[2018-08-27 22:17] wbamberg commented on #1117
That's the intention - it's demonstrating the use of try/catch to catch an error.

[2018-08-27 22:17] #1117 closed

[2018-08-27 22:20] jacobq commented on #1117
:man_facepalming: I need to go home for the day, sorry. Apparently my mind is gone :laughing:

[2018-08-27 22:38] wbamberg commented on #1117
No worries - and thanks for making the effort to report it :).

[2018-08-29 00:01] wbamberg commented on #1115
Thanks for filing!

There's some previous chat about how the editor should behave when properties aren't well supported across browsers: https://github.com/mdn/interactive-examples/issues/532. We have a proposal for how to handle this, but it's not a very high priority at the moment just because cross-browser support is in general pretty good. Still it would be great to have a fix for this in the

[2018-08-30 00:45] wbamberg commented on #1085
I don't think so: the media condition is applied to the example's iframe, not the output box, and that is >1000px on my monitor at full width.

It works in Chrome and Safari:

![picture-media](https://user-images.githubusercontent.com/432915/44823103-50ecec00-abb3-11e8-91c2-262545140d81.gif)

...but not Firefox.

[2018-08-31 14:11] hacknug opened #1119 "`box-decoration-break` example output is hidden"
As stated, the example for how the `box-decoration-break` property works, has the class `.hidden` on the output element. This is not good because [MDN](https://developer.mozilla.org/en-US/docs/Web/CSS/box-decoration-break) readers can not see the live example and they need to rely on the screenshots.

https://github.com/mdn/interactive-examples/blob/cc5ae0a4dd019db6eda4dd60e88be19b94e4f437/live-ex

[2018-08-31 15:05] wbamberg commented on #1119
Thanks for filing!

I think the problem is not the "hidden" class. I think you are using a browser that does not support this property, or that needs it prefixed (https://developer.mozilla.org/en-US/docs/Web/CSS/box-decoration-break#Browser_compatibility).

At the moment, if this is the case, the example editor displays something like this:

<img width="601" alt="screen shot 2018-08-31 at 7 59 21

[2018-08-31 15:10] hacknug commented on #1119
I'm using vanilla Chrome (v68.0.3440.106) and it supports the property. If I remove the `.hidden` class from the output element this is what I see:

<img width="1063" alt="captura de pantalla 2018-08-31 a las 17 09 06" src="https://user-images.githubusercontent.com/1107521/44920595-a99dbf80-ad40-11e8-8c25-0c7dcc4d0b4d.png">

[2018-08-31 16:39] a2sheppy commented on #1085
Interesting. I can't get it to work in Firefox.

[2018-08-31 16:42] wbamberg commented on #1119
Are you sure it supports the property, unprefixed? MDN and [Caniuse](https://caniuse.com/#search=box-decoration-break) both disagree.

This is expected. All the examples have `hidden` in the source (e.g. [`align-items`](https://github.com/mdn/interactive-examples/blob/master/live-examples/css-examples/box-alignment/align-items.html#L31)). When the editor runs, it [checks whether the property is su

[2018-09-07 18:33] wbamberg commented on #1119
Fixed by https://github.com/mdn/interactive-examples/pull/1120.

[2018-09-07 18:33] #1119 closed

[2018-09-08 17:04] atopal opened #1138 "Style Guide for Interactive Examples"
Interactive examples in my mind should allow you to instantly see how to use something to either remind you of the usage or give you a quick first insight. The rest of the page can handle exceptions and things to look out for.

I was looking up the a[udio element ](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/audio) and can’t even see the syntax without scrolling, that to me defeats t

[2018-09-11 21:19] ollelauribostrom commented on #1085
It's working for me in Firefox 61.0.1 as well.

However, when on a 13" laptop the picture will never change as long as the media attribute is set to `media="(min-width: 1000px)"`.  I'm guessing that my screen is simply to small.

Maybe the default value could be changed to something like `media="(min-width: 800px)"`?

[2018-09-19 04:57] wbamberg opened #1148 "CSS editor should not focus on page load"
The CSS editor focuses when the page loads. This breaks links to fragments: https://developer.mozilla.org/en-US/docs/Web/CSS/margin#Specifications.

The idea here was to emphasise that the examples were editable, but I'm not sure this is effective, and I don't think it is worth the cost.

I think it's not quite as simple as removing https://github.com/mdn/interactive-examples/blob/master/js/editor

[2018-09-19 04:59] wbamberg commented on #1085
@ollelauribostrom , that's a good idea.

[2018-09-19 05:03] wbamberg commented on #1085
Yes, me too! Now I check it is only not working in Nightly ¯\_(ツ)_/¯.

[2018-09-20 10:39] wbamberg commented on #1085
I think https://github.com/mdn/interactive-examples/pull/1149 fixes the only outstanding issue in this bug, so let's close it.

[2018-09-20 10:39] #1085 closed

[2018-09-24 08:55] stephaniehobson commented on #1148
The first item still inits so it's one click to edit not two. I think this is a good improvement. You could keep an eye on the editor stats for the first couple weeks after this is launched if you're worried.

[2018-09-24 12:12] wbamberg commented on #1148
Fixed -> https://github.com/mdn/interactive-examples/pull/1158 - thanks @stephaniehobson !

[2018-09-24 17:34] #1148 closed

[2018-09-27 13:28] schalkneethling opened #1166 "Ready and merge WebAPI example into master"
Except for one potentially tricky issue [https://github.com/mdn/interactive-examples/pull/1142#issuecomment-423178962] the Web API example prototype is ready to be merged to master :tada:

Having talked with @wbamberg at least the first week of the sprint will be needed to sanely and cleanly merge all the work and changes into the master branch. The breakdown, and thus acceptance criteria for this

[2018-09-28 14:51] wbamberg commented on #1166
@schalkneethling what do you think about removing the last three points here:

Then the goal of this item is to get the new editor (and Bob) merged and in use.

[2018-09-28 14:53] schalkneethling commented on #1166
Yeah, that makes sense. I was hoping for your feedback as I do not know what your focus for the sprint will be. Let me edit the above.

[2018-10-01 13:14] schalkneethling commented on #1166
@wbamberg Ok, the PR has now been rebased against master and also includes the latest BoB. We are now on sanity check before merging into `webapi-editor`

[2018-10-01 14:55] schalkneethling commented on #1166
@wbamberg I have poked around a number of the CSS, HTML and JS examples and all seem good. Let me know if you find any issues, else I reckon we can merge this monster 👹 :)

[2018-10-01 21:00] wbamberg commented on #1166
It looks good to me, and I've approved the PR. I didn't merge only because that item has your name beside it in in https://github.com/mdn/interactive-examples/issues/1166#issue-364476618 :).

It's still failing tests according to snyk, but I don't know if that's a problem or not.

[2018-10-02 17:52] wbamberg opened #1169 "datalist example doesn't work in Firefox Nightly"
The interactive example for `<datalist>` doesn't work in Firefox Nightly:

https://developer.mozilla.org/en-US/docs/Web/HTML/Element/datalist
https://interactive-examples.mdn.mozilla.net/pages/tabbed/datalist.html

It does work in release Firefox (62) and Chrome.

The example lower down the page (https://developer.mozilla.org/en-US/docs/Web/HTML/Element/datalist#Examples) does work - but if you co

[2018-10-02 18:14] wbamberg commented on #1169
Possibly related? https://bugzilla.mozilla.org/show_bug.cgi?id=1489440

[2018-10-02 18:16] wbamberg commented on #1169
If you toggle "dom.webcomponents.shadowdom.enabled" to false, the example works again.

[2018-10-02 19:09] #996 closed

[2018-10-02 19:10] #997 closed

[2018-10-03 19:15] jgribonvald commented on #1169
I confirm it's related to the shadowdom

[2018-10-09 20:06] wbamberg opened #1175 "CSS examples iframe is too big"
The iframe for the CSS examples is too big, so there's some empty gray space underneath it:

<img width="1197" alt="screen shot 2018-10-09 at 1 06 06 pm" src="https://user-images.githubusercontent.com/432915/46695309-1455dc80-cbc4-11e8-9626-862299162b16.png">

[2018-10-10 10:14] schalkneethling commented on #1175
@wbamberg Are you seeing this on current production? I am not able to reproduce this. Is this using current master or the webapi-editor branch?

[2018-10-10 14:39] wbamberg commented on #1175
Oh that is weird. Yes, it was in production yesterday, but now it's gone. I'm glad I took a screenshot or noone would have believed me :).

[2018-10-10 14:39] #1175 closed

[2018-10-11 11:29] #1005 closed

[2018-10-11 11:29] #1166 closed

[2018-10-11 11:32] schalkneethling commented on #1115
@wbamberg Should we close out this issue? The PR that addressed this was also closed as it did not quite work in Safari so, it seems we are ok with that?

[2018-10-11 11:39] schalkneethling commented on #1065
@wbamberg Ah, so you are saying the following:

[code]

Would change to:

[code]

And then that would apply to all entries in https://github.com/mdn/interactive-examples/blob/master/live-examples/html-examples/global-attributes/meta.json

[2018-10-11 12:03] TremaineNeethling commented on #729
I'm on this.

[2018-10-12 20:32] wbamberg commented on #1115
I'd accept a PR that fixes the behavior in Safari, but I don't have the time to dig into why it doesn't work properly.

[2018-10-12 20:38] wbamberg commented on #1065
@schalkneethling  - yes exactly! Just to be consistent. It's not a big deal but would be nice I think.

[2018-10-17 10:54] schalkneethling opened #1185 "Test perf difference between IE WebAPI editor, Codepen, jsFiddle, and Glitch"
Now that the WebAPI version of the interactive editor is complete, we need to make a decision in how we move forward. Do we continue to roll our own solution, or would it make more sense to switch to a third party solution such as Codepen, jsFiddle or Glitch

The first step in making this decision is to see what the page load performance impact would be between the four different choices. This wil

[2018-10-17 11:18] #729 closed

[2018-10-17 17:10] wbamberg commented on #1138
-> https://github.com/mdn/interactive-examples/pull/1184

[2018-10-17 17:22] wbamberg opened #1186 "WebAPI examples should not expose shadow DOM machinery"
Like the HTML editor, the WebAPI editor uses shadow DOM to insulate the example output from the page that the editor is running in.

Currently this internal machinery leaks into the example, because the editor requires the example to explicitly fetch the shadow root before it calls any of the DOM APIs on it:

[code]

This is confusing, and the editor should take care of this internal machinery, so

[2018-10-17 21:39] jmswisher commented on #999
Heading elements example is done and in-page

[2018-10-17 21:39] #999 closed

[2018-10-18 23:18] wbamberg commented on #998
All done! Thanks for everyone who contributed.

[2018-10-18 23:18] #998 closed

[2018-10-19 18:24] wbamberg opened #1190 "UI feedback on the WebAPI editor"
I think we should ask for a UX review of the WebAPI editor: we had one for the JS and CSS editors and it was very helpful.

In the meantime I had some feedback on the current editor. I'm very much not a designer but thought it might be worth getting this out there anyway.

The current editor looks like:

<img width="998" alt="screen shot 2018-10-19 at 11 09 18 am" src="https://user-images.githubus

[2018-10-22 08:31] stephanmax commented on #1115
@wbamberg, happy to dig into this.

[2018-10-22 22:48] wbamberg opened #1192 "Links to media files are broken"
See for example:
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/img
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/picture

This is reproducible in the local environment.

[2018-10-23 00:54] wbamberg commented on #1138
Based on the draft guidelines and our discussions, I've been through the HTML elements and added an annotation (column C) saying whether they are OK as they are or should have some changes, and if so what the changes should be. The notes are a bit cryptic, but in general they are things like:

* simplifying and shortening where that seemed needed, to make the examples quicker to grasp and to fit w

[2018-10-23 04:32] wbamberg commented on #1115
@stephanmax , that would be awesome! In case it helps, you can find my attempt here: https://github.com/mdn/interactive-examples/pull/1121. It seems like Safari support is tricky and I didn't have the time to dig into why :(

[2018-10-23 10:39] stephanmax commented on #1192
`mdn-bob` seems to flatten every file in source folder `/media/**/<file>` into dest folder `/media/examples/<file>`, no matter in which subfolder they might be.

If this is intended behavior, then we can simply fix this issue by changing `/media/cc0-images/Grapefruit_Slice--332x332.jpg` to `/media/examples/Grapefruit_Slice--332x332.jpg`, for example.

Let me know if you want that or rather change

[2018-10-23 11:18] atopal commented on #1138
Thanks for doing this, Will!

[2018-10-23 12:46] schalkneethling commented on #1185
Here is my testing feedback with regards to the various editors. All was done with Fast 3G, and 4x CPU throttling.

## jsFiddle

I threw this one out as an option as the embedded examples is not editable.

## HGE (Home Grown Editor)

Here is a video of the page loading:
https://cl.ly/0100ea1c05da

First Contentful Paint: 3.210ms
Speed index: 3.970ms
Time to interactive: 15.170ms
First CPU idle: 11

[2018-10-23 13:46] schalkneethling commented on #1185
@atopal @wbamberg ~ For the above tests I used local overrides in Chrome did overcome the problems I was having with the iframes src being removed by CKEditor or some other backend process. I have no gone ahead and created actual static pages, and here are the revised results.

## Overview

| Measurement              | Codepen | Glitch        | HGE         |
| ----------------------|:---------:|:-

[2018-10-23 13:57] atopal commented on #1185
Thanks Schalk, looking at this it seems like codepen and our home grown solution are essentially performance neutral, and glitch has a slight performance impact. I'm assuming this was done with the iframed version of the home grown solution?

[2018-10-23 15:50] schalkneethling commented on #1192
@stephanmax Thanks for reporting. @wbamberg I reckon let's update the linking to use the flat output folder structure. This will keep things simpler when I also automate  image optimisation via BoB. Thanks!

[2018-10-23 15:52] schalkneethling commented on #1185
@atopal Correct.

[2018-10-23 18:01] #1192 closed

[2018-10-23 21:01] drochgenius commented on #887
Hi,

I just found out the `@font-face` doesnt load the fonts if it's within a Shadow DOM. Looking at this thread, and in the Shadow DOM v1 spec I couldn't find any reference to this limitation.

Basically, I'd like to know if this is by design, or a current browser restriction that will eventually be fixed? If it's by design, anybody knows where in the spec I can find this documented?

Thanks

[2018-10-24 07:33] stephanmax commented on #1186
That totally makes sense, very interesting. Do you mind me taking a look? That would be a PR against the https://github.com/mdn/bob repo, right?

[2018-10-24 08:12] stephanmax commented on #811
I second this idea (struggled with that a bit in some examples).

My idea is to go for something in-between: Not a full-blown MDN mockup, but also not just adjusting the width of the editor. How about adding a mock MDN header and right sidebar and mimic the prod MDN widths and media queries?

Happy to file a PR against the https://github.com/mdn/bob repo. (I assume that’s where all the editor code

[2018-10-24 10:44] schalkneethling commented on #887
@drochgenius Here is some reading for reference:

https://robdodson.me/at-font-face-doesnt-work-in-shadow-dom/
https://bugs.chromium.org/p/chromium/issues/detail?id=336876

Looks like it might be a bug that is fixed in Chrome, will need to test to confirm, and also test in Firefox. Hoping the Edge folks will have this working from the get go.

[2018-10-24 13:40] drochgenius commented on #887
Thanks @schalkneethling !
Exactly what I was looking for.

[2018-10-24 21:57] wbamberg commented on #1186
@stephanmax , unfortunately further testing shows us (just yesterday) that Shadow DOM isn't a suitable implementation for the WebAPI editor at all, so we're going to have to think again about how to provide an editor for WebAPI interactive examples.

But thanks for your interest!

[2018-10-24 21:57] #1186 closed

[2018-10-24 21:58] wbamberg commented on #811
Yes :). Thanks for offering to help: I think this is a good idea.

[2018-10-26 10:01] stephanmax commented on #811
Just realized that this is more complicated than I thought.

My initial plan was to bundle in some CSS with the editor styles that makes sure the code demos are embedded in a more realistic surrounding. But if I understand `mdn-bob` correctly, this bundles CSS would also end up in the production demos.

What do you think @schalkneethling, can we add an env variable to the npm scripts to only add t

[2018-10-26 10:04] schalkneethling commented on #811
@stephanmax Yup, that sounds like a good plan. I would move this over to BoB, as that is where this work is happening. I will open a new issue on that repo and tag you. Thanks!

[2018-10-26 10:06] schalkneethling commented on #811
@stephanmax There you go - https://github.com/mdn/bob/issues/166

[2018-10-26 10:07] stephanmax commented on #811
Sweet, thanks @schalkneethling!

[2018-10-29 08:28] #1065 closed

[2018-10-30 01:53] #1115 closed

[2018-10-30 14:54] SathishKannan opened #1206 "Intl.Collator Compare is dead slow in IE"
Below is my sample code, I have more than 7k records in my table, below code executes when I click on table header to sort columns,

var collator = new Intl.Collator(undefined, {
numeric: true,
sensitivity: 'base'
});
var objs = [{name: '1_Document', size: 40}, {name: '11_Document', size: 50}, {name: '2_Document', size: 60}];

objs.sort(function(a, b) { return collator.compare(a.name, b.name) })

[2018-10-30 15:40] wbamberg commented on #1206
This issue tracker is for bugs against the interactive examples on MDN pages. As far as I can tell this i a general programming question: as such it might be better to ask in a general programming forum like StackOverflow.

[2018-10-30 15:40] #1206 closed

[2018-10-31 14:39] wbamberg opened #1211 "Examples are not being updated on MDN"
Some time between October 23 and October 26 it seems like changes made to content in interactive-examples stopped being picked up on MDN.

This change, merged on October 23: https://github.com/mdn/interactive-examples/pull/1193 is visible on the MDN page: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/normalize.

But this change, merged on October 26: https

[2018-10-31 16:50] schalkneethling commented on #1211
@jwhitlock @escattone - Is there a way to see when the last time is that files were copied to S3?

[2018-10-31 16:56] schalkneethling commented on #1211
So, the prod branch has been updated 6 hours ago:
https://github.com/mdn/interactive-examples/tree/prod

Will have to confirm that changes in master are reflected in prod. And also whether things are actually being pushed to S3.

[2018-10-31 17:07] wbamberg commented on #1211
Yes, the prod branch looks up to date.

[2018-10-31 20:10] wbamberg commented on #995
@schalkneethling , should I refile this on https://github.com/mdn/bob ? And is it covered by the work mentioned here: https://github.com/mdn/interactive-examples/pull/1191 "to compress all media assets during build"?

[2018-11-03 16:34] wbamberg commented on #995
Refiled as https://github.com/mdn/bob/issues/175.

[2018-11-03 16:34] #995 closed

[2018-11-03 16:35] wbamberg commented on #862
Closing this in favour of using public domain images that don't require attribution.

[2018-11-03 16:35] #862 closed

[2018-11-03 16:38] wbamberg commented on #823
It's not clear how web component HTML elements can have usable examples without JS, so we've opted not to include interactive examples for them (as noted in https://docs.google.com/spreadsheets/d/1EC23mRNF7i-Bd29A4wEcFV_iiThL1P-NBtH4lzme8eM/edit#gid=0).

[2018-11-03 16:38] #823 closed

[2018-11-06 16:58] #1138 closed

[2018-11-06 17:00] wbamberg commented on #1138
FYI - I estimated these updates at 2 days, laughably: it took me 6 days elapsed.

[2018-11-07 13:15] schalkneethling opened #1228 "Would Codepen embeds work for WebAPI examples?"
Read through and experiment with Codepen embeds* to determine the feasibility of this solution for MDN Web Docs with regards to more complex interactive examples.

* https://blog.codepen.io/documentation/features/embedded-pens/

## Acceptance Criteria

* [ ] Simple prototype example of using Codepen embeds with interactive examples data
* [ ] Reported back on the feasibility of the above solution.

[2018-11-07 18:14] jwhitlock commented on #1211
Sorry @wbamberg and @schalkneethling, I heard "prod branch looks up to date" and thought that meant the issue was resolved.

[2018-11-07 18:16] escattone commented on #1211
Yes, I'd like to echo what @jwhitlock said above. I thought the same. Sorry for not looking into this sooner!

[2018-11-07 19:18] jwhitlock commented on #1185
This appears complete to me.

[2018-11-07 19:18] #1185 closed

[2018-11-08 00:21] escattone commented on #1211
### Some background (for terminology)
Whenever the `prod` branch of this repo is modified, Jenkins will perform a `build` step followed by a `s3 sync` step. Here's the `build` step:
[code]
which calls `bin/build.sh`:
[code]
### My discoveries (so far)
- the Jenkins `build` step (not the `s3 sync` step) has been failing, although silently, since [this commit](https://github.com/mdn/interactive-exam

[2018-11-08 18:56] escattone commented on #1211
Submitted https://github.com/mdn/interactive-examples/pull/1229 which addresses both of the next steps mentioned above.

[2018-11-08 19:00] #1211 closed

[2018-11-08 19:41] escattone commented on #1211
🎉 The interactive-examples prod push (which included the fixes from mdn/interactive-examples#1229) was a success: https://ci.us-west-2.mdn.mozit.cloud/blue/organizations/jenkins/interactive-examples/detail/prod/87/pipeline/11

[2018-11-09 09:10] schalkneethling commented on #1211
Thanks @escattone

[2018-11-20 18:32] dovidweisz opened #1237 "JS Examples: example for `Object.entries` is confusing"
The example for [`Object.entries`][object-entries] is confusing.

The issue is that in line 9 we attempt to subtract one array from another.

instead of :

    Object.entries(object2).sort((a, b) => a - b);

It should actually match the example code in the page :

     Object.entries(obj).sort((a, b) => a[0] - b[0]);

[object-entries]: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Refere

[2018-11-23 00:11] wbamberg commented on #1190
Closing this, since we are currently not planning to use the homegrown editor for Web API examples.

[2018-11-23 00:11] #1190 closed

[2018-11-26 09:15] fxss5201 opened #1240 "[HTML Examples] input ~ <input type="time">"
The example for [`<input type="time">`](https://developer.mozilla.org/zh-CN/docs/Web/HTML/Element/input/time).
old code is:
[code]

min attribute is not  effected, should be `09:00`(in Chrome 70.0.3538.110).

[2018-11-27 15:12] schalkneethling opened #1242 "Action Required - Malicious dependency requires update to latest master"
A [security vulnerability has been identified](https://snyk.io/blog/malicious-code-found-in-npm-package-event-stream) that affects a large number of projects that depends on the [event-stream npm package](https://www.npmjs.com/packag/event-stream). While interactive-examples does not directly depend on it, the package [npm-run-all](https://www.npmjs.com/package/npm-run-all) that we do depend on, d

[2018-11-27 15:55] schalkneethling commented on #1242
Pinging users that have known forks:

@2alin
@a2sheppy
@Abhicoding
@aefhm
@aeinbu
@Anemy
@arai-a
@aretecode-forks
@Arkangus
@arnabtarwani
@atopal
@AugustinusVonHippo
@Austinsmom
@belide
@benji1304
@bobtherobot
@brianlmacdonald
@brianmontanaweb
@bromy
@cafeTechne
@chrisdavidmills
@CodeDotJS
@crazyrex
@CShepartd
@d7ark
@dagolinuxoid
@danieldiaz14
@danielhickman
@danielslab
@ddbeck
@diablero13
@direk

[2018-11-27 15:56] schalkneethling commented on #1242
@GAUTAMRAJU15
@gene1wood
@Geolem
@GladiumLab
@jdhakert
@goodwin64
@Granjow
@helmutgranda
@hidde
@hobinjk
@huijing
@iansan5653
@ichthub
@irenesmith
@jacktheclicker
@jimthoburn
@Jonathan-Ironman
@jpamental
@jpmedley
@jrohatiner
@justsml
@jwhitlock
@karlstolley
@kenrick95
@kevinsimper
@Konrud
@Krinkle
@krohne
@kublaj
@laiyongqin
@LLyaudet
@LygutaKsusha
@maboa
@maddhruv
@akshitagoel
@madeinfree
@majid

[2018-11-27 15:56] schalkneethling commented on #1242
@nnupoor
@npuzyrev
@ogwurujohnson
@ollelauribostrom
@paulirish
@pepkin88
@pl78
@poojasrivastav
@prashantsharma
@qcgm1978
@qwIvan
@rachelandrew
@Regaddi
@revelt
@ro-ka
@Row
@roza
@rozzzly
@rudzboy
@rwaldron
@Satyam-Bhalla
@calmesam01
@schalkneethling
@sdob
@sethips
@ShadowMitia
@sheeeng
@sidvishnoi
@sigoa
@sir-kain
@solayos
@SphinxKnight
@stephanmax
@suknuk
@SWW13
@tatellos
@tbazin
@thomasd801
@tig

[2018-11-27 16:03] hobinjk commented on #1242
@schalkneethling The version of `event-stream` in `package-lock.json` is 3.3.4 so I don't think we're directly effected, just at risk?

[2018-11-27 17:13] jwhitlock commented on #1242
@hobinjk ``event-stream 3.3.6`` was the affected version, which started requiring ``flatmap-stream 0.1.0``. ``flatmap-stream 0.1.1`` is the version with the vulnerability, and npm update rules would have started including the minor version update. The master branch was updated with PR #1239 on November 26, 2018. This [Ars Technica article](https://arstechnica.com/information-technology/2018/11/hac

[2018-11-27 17:45] 2alin commented on #1242
Thank you for the call out. Updating my fork, now.

[2018-11-27 23:45] ExE-Boss commented on #1242
Done on my end.

[2018-11-28 00:13] wbamberg opened #1244 "Make an npm package export of Web API examples"
Rather than a homegrown editor, we're intending to use [embedded CodePens](https://blog.codepen.io/documentation/features/embedded-pens/) for Web API interactive examples.

This will work a little differently to the existing CSS/JS/HTML examples. Those examples are currently built into standalone web pages (e.g. https://interactive-examples.mdn.mozilla.net/pages/css/background-color.html) that are

[2018-11-28 00:14] wbamberg commented on #1244
One thing to decide here is the structure of the package. We can experiment here, but as a first suggestion: follow the hierarchical "BCD structure" for this, where a user of the package can get access to a portion of it using a query like

    api.document.querySelector.__interactive_example

...and get back an object with up to three properties, all strings: `html_source`, `js_source`, `css-sour

[2018-11-28 08:37] ollelauribostrom commented on #1242
Thanks for the heads up 👍 Updated my fork.

[2018-11-29 14:40] #1228 closed

[2018-12-07 10:40] elharony opened #1258 "bug: Display "Live Examples" contributions in MDN Profile"
I've noticed it today when my #1257 got merged, and my contribution doesn't appear on my MDN Profile `Recent Docs Activity`'s section

I would like to add the `Live Examples` contributions to the `MDN Profile` as well as the normal contributions via `MDN's Editor` got added

**An expected concequence;** Any contributions made via `Live Examples` aren't visible at the bottom of the page, and the `L

[2018-12-07 15:08] wbamberg commented on #1258
Thanks for your contribution @elharony . Yes, contributions to interactive examples are not credited in the MDN page itself, they are credited in this repo. The same applies to other places where the page integrates content from other sources, like compat data, spec data, and so on.

I don't think we are planning to change this, but if you wish I can revert your contribution to this example.

[2018-12-08 06:37] elharony commented on #1258
Hi @wbamberg !

Definitely, I don't wish to revert my contribution, I just noticed that `Live Examples` contributions and other contributions like `Spec Data` aren't displaying on the `MDN Profile`. So, I reported it, in case you didn't notice it! 😄

But yeah, not I understand that you know about it, and there is no plan to integrate those contributions with the `Editing` contributions

Thanks for

[2018-12-08 06:37] #1258 closed

[2018-12-08 06:39] elharony commented on #400
Do you still need an example for it, @schalkneethling ?

[2018-12-08 12:14] rachelandrew opened #1263 "Allow targetting of a class rather than an ID in CSS examples"
I have an issue where to make a CSS example for the CSS property `scroll-snap-align` behave consistently I need to be able to apply the selected value to all child nodes.

Currently I believe I can only target one element, by giving it the ID `example-element`. I actually need to target that element and all of the siblings. Would it be possible to make it so that a class can be targeted instead as

[2018-12-08 13:31] schalkneethling commented on #400
Hey @elharony - Indeed, looks we do not have an example yet. Thank you for your interest.

[2018-12-08 15:57] wbamberg commented on #1258
Sounds good @elharony :).

[2018-12-08 15:59] wbamberg commented on #1263
I can't think of any reason not to do this, unless it's terribly complicated to implement.

[2018-12-12 07:43] kenrick95 opened #1267 "CSS Examples: Need example for CSS Scrollbars"
https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Scrollbars

Properties are:

- https://developer.mozilla.org/en-US/docs/Web/CSS/scrollbar-color
- https://developer.mozilla.org/en-US/docs/Web/CSS/scrollbar-width

There are already existing examples, but not in interactive example editor

[2018-12-12 17:57] wbamberg opened #1268 "isFinite and Number.isFinite - demos return incorrectly when test for zero is executed"
Filed here: https://bugzilla.mozilla.org/show_bug.cgi?id=1512374

***
In the JavaScript Demo you use a similar function to test Number.isFinite() as on the page for isFinite(). These test for Number.isFinite is not correcct:

isFinite(1000 / 0) and Number.isFinite(1000 / 0) are both false.
isFinite() and Number.isFinite(0) are both true.
Since division by zero does not result in infinity but is un

[2018-12-14 18:38] wbamberg commented on #1268
@kenrick95 , yeah, I agree, I think that statement is not true.

[code]

I just filed this issue because I didn't want to think about it right away but didn't want to forget it. But ISTM we should just close this, if you agree too?

[2018-12-16 13:47] kenrick95 commented on #1268
Yeah, I agree 😁

[2018-12-16 16:17] kevinsimper opened #1270 "Editor for full environments"
Talking with @wbamberg about #1266 there is a need for an editor that can handle HTML/CSS/JS.

So I guess it is something like JSBin/Codepen that has 3 boxes, that gets combines into one document into a iframe?

[2018-12-18 06:02] wbamberg commented on #1270
We're hoping to use embedded CodePens for this: https://blog.codepen.io/documentation/features/embedded-pens/ - but we still want to use interactive-examples as the contribution path, so there's going to be some glue work needed, which I started outlining here https://github.com/mdn/interactive-examples/issues/1244.

[2018-12-22 03:42] #1267 closed

[2018-12-23 16:36] wbamberg opened #1275 "Remove length options from scrollbar-width example"
See https://github.com/mdn/data/pull/334 and https://github.com/mdn/interactive-examples/pull/1269, the `length` options don't work and are now removed from the spec, so we should remove them from the example, too.

[2019-01-16 00:00] #1275 closed

[2019-01-16 08:53] schalkneethling opened #1290 "In MDN Web docs, CodeMirror-code section taking console logs executed in the browsers developer console"
Originally reported in Bugzilla:
https://bugzilla.mozilla.org/show_bug.cgi?id=1512793

Description of issue from Bugzilla:

What did you do?
================
1. Executed JavaScript Demo: Statement - Label using run button
2. On developers console executed console log statements
3. the console log result is appended to the JavaScript Demo: Statement - Label results i.e. output-container

What happe

[2019-01-16 11:19] schalkneethling commented on #1290
I am unable to reproduce this using both Chrome and Firefox. @wbamberg Thoughts?

[2019-01-16 23:42] wbamberg commented on #1290
I can't reproduce this either.

[2019-01-17 08:03] schalkneethling commented on #1290
Thanks @wbamberg - closing

[2019-01-17 08:03] #1290 closed

[2019-01-22 10:54] DavidBruant commented on #1169
https://bugzilla.mozilla.org/show_bug.cgi?id=1489440 is now fixed in nightly

[2019-01-24 10:32] kleinfreund commented on #887
@schalkneethling I’m confused. That bug wasn’t fixed,right? I can’t load fonts with a `@font-face` rule placed in the shadow DOM.

[2019-01-24 12:13] schalkneethling commented on #887
@kleinfreund I have not tested this in some time but, as far as I am aware, this is still the case.

[2019-02-05 02:57] titaniumbones opened #1310 "running locally, offline?"
Hi @wbamberg ,  @schalkneethling, et al

I'm on my way to the Indian Himalaya to do a very brief trial run teaching HTML & CSS in a girls school in a very low-bandwidth region. We are running a local copy of JSBin & a couple of static sites off of a raspberry pi & gathering necessary libraries (jQuery, etc) as we need them. For some time I've been thinking about trying to get some fraction of MDN

[2019-02-05 05:56] wbamberg commented on #1310
You can set up the interactive examples to run locally by cloning this repo and running "npm install". After that you can run a local server with "npm run start", and this will serve running copies of all the interactive examples.

For bigger pieces of MDN, including the prose content, it's more problematic. MDN doesn't support an offline mode. Some people offer an offline version by scraping the

[2019-02-05 08:15] schalkneethling commented on #1310
@titaniumbones Wow, that is an awesome project. I wish you all of the best with it. As @wbamberg said, running specifically the interactive-examples locally should be as easy as forking, `npm i`, and then `npm start` and you're up an running.

For the https://developer.mozilla.org site, it is a whole other kettle of fish ;p The resource Will pointed you to is definitely a good first step, which I

[2019-02-07 06:37] GAUTAMRAJU15 commented on #1242
just updated . Thanks 💯

[2019-03-07 21:32] migudev commented on #887
@schalkneethling The only workaround to this is putting the webfont in the `index.html` and import the css through a `link` tag.

**Example**

[code]

[code]

[2019-03-24 20:56] arye-dov-eidelman opened #1330 "Why is there synchronous code logging "Async code started""
I would like to make two corrections in the [Promise Object Advanced Example](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise#Advanced_Example). I couldn't find the interactive demo for this here so I'm not sure where the correct place to make this change would be.

### Sync code is logging "Async code started" it should be wrapped in a setTimeout 0 or remo

[2019-03-27 16:45] wbamberg commented on #1330
Thanks for filing. Yes, we don't use the interactive examples framework for these examples so issues should just be filed as MDN content bugs, which I've done here: https://github.com/mdn/sprints/issues/1251.

I'm closing this as we will track it over there.

[2019-03-27 16:45] #1330 closed

[2019-03-30 13:30] Mozilla-GitHub-Standards opened #1335 "CODE_OF_CONDUCT.md isn't correct"
**Your required text does not appear to be correct**

As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are requir

[2019-04-05 09:53] schalkneethling commented on #1335
Resolved by https://github.com/mdn/interactive-examples/pull/1337

[2019-04-05 09:53] #1335 closed

[2019-04-20 22:53] SebastianZ commented on #731
I assume it's easier to embed them into HTML, i.e. reuse the existing logic. How would you update the standalone SVG documents on the fly?

Yep, maybe also `.output` should have `overflow: auto;` instead of `overflow: scroll;` to avoid the scrollbars being shown, but that's also something for HTML.

What do you mean by that? If you mean to somehow disallow editing it, I tend to say yes, maybe even

[2019-04-25 10:03] Konrud opened #1343 "EmbedLiveSamples (where to find and how to fix them)?"
I don't seem to find where example that is embedded like this `{{ EmbedLiveSample('Live_Examples', '100%', '150px') }}` can be easily found in order to fix it?
 I think it's a bit an issue here because a lot of these examples are poorly defined and don't work.

[2019-04-25 13:45] wbamberg commented on #1343
Hi @Konrud

As usual with MDN there are several different systems each with their own quirks. With `EmbedLiveSample` the code is in the Wiki page itself (or sometimes a different Wiki page).

There's an overview of all our example systems here: https://developer.mozilla.org/en-US/docs/MDN/Contribute/Structures/Code_examples.

There are detailed docs on `EmbedLiveSample` here: https://developer.moz

[2019-04-25 13:45] #1343 closed

[2019-05-15 09:07] ackvf opened #1347 "Make it easier to change live-examples"
It is no longer necessary to suggest cloning&PR, since github does that automatically when live-editing a file, right from github web interface.

![image](https://user-images.githubusercontent.com/2313018/57762405-be1fbd80-76ff-11e9-8ab6-e9fc9d564f3d.png)

Before:

After:

Where `here` is a direct link to the example in question if possible, or link to /master/live-examples.

[code]

[2019-05-18 03:44] teddybradford opened #1351 "<meter> example has name attribute, but name attribute not listed in docs"
Does the `<meter>` tag allow a name attribute?

[2019-06-04 15:13] kenrick95 commented on #1237
This should be fixed per #1350

[2019-06-04 15:32] wbamberg commented on #1237
Yes, thanks @kenrick95 !

[2019-06-04 15:32] #1237 closed

[2019-06-17 06:21] kenrick95 opened #1379 "JS Editor: console.log(JSON) outputs differently in browser console and editor"
Expected output

`JSON { }` (like in browser console, as per defined in the [JS spec](https://tc39.es/ecma262/#sec-json-@@tostringtag))

Actual output

`Object { }`

![Screenshot 2019-06-17 at 14 18 17](https://user-images.githubusercontent.com/3090380/59582438-dcb41280-910a-11e9-8fc0-fd56a937c28e.png)

I don't know if it's worth fixing 😅

[2019-06-18 04:54] lbvf50mobile opened #1381 "Adding live demo to the Guide article."
Good day.
I want to add a JavaScript interactive demo to the [Guide Regex Boundaires article](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Regular_Expressions/Boundaries).
When I explored [regexp folders](https://github.com/mdn/interactive-examples/tree/master/live-examples/js-examples/regexp) of this repository I found that examples belongs to the [Reference](https://developer.mo

[2019-06-28 00:17] wbamberg commented on #1381
This is an interesting suggestion!

Up to now we have only included these examples in reference docs.

There are some issues with including more than one example on a page, I think this only applies to the CSS examples though. And anyway it looks like you are just proposing to include a single example like this at the top of the page, and I can see how an example could be really useful in a page l

[2019-07-02 13:28] chrisdavidmills commented on #1381
I'd be happy to at least try this out. I think it would be very useful. Why don't you start work on this with a minimal example, and we'll try it. At the very worst, we can remove it again if it doesn't work for some reason.

[2019-07-03 08:20] lbvf50mobile commented on #1381
@wbamberg , @chrisdavidmills  thank you for response.  I'll take a read [contributing document](https://github.com/mdn/interactive-examples/blob/master/CONTRIBUTING.md) and come back with a pull request.

[2019-07-03 09:15] chrisdavidmills commented on #1381
Great, thanks @lbvf50mobile ! We'll look forward to it.

[2019-07-12 15:02] zlatnaspirala commented on #1347
I don't know where to ask, this page looks like nice topic for my Q.

  I have article with my small game engine and i wanna make pull request with basic examples but there is no proper folder to do it.  Is it possible to create new folder like "frameworks" or any other alias . Then
 from that folder create :
   (Just for example)

 /frameworks/ or /game-engines/
   - pixi.js/  all pixi examples

[2019-07-12 19:19] limed opened #1392 "Modify jenkins build step to allow cleanWs to work"
While PR https://github.com/mdn/interactive-examples/pull/1375 helps make jenkins more efficient it has caused a side effect where jenkins is unable to delete the workspace due to the way `interactive-examples` is built (see https://github.com/mdn/interactive-examples/blob/master/bin/build.sh#L4).

Currently the `node_modules` directory that it creates gets created as a `root` user so we should fi

[2019-07-16 11:56] ackvf commented on #1347
@zlatnaspirala You better ask at https://stackoverflow.com/ so that somebody notices your question.

[2019-07-17 04:00] wbamberg commented on #1347
@ackvf , sorry to be slow responding to your suggestion. I did read about it and thought about it, but I'm not 100% sure I like the idea.

As a rule I would like contributors to test out the example before making a PR for it, and I think this is more likely to happen if they have taken the step of cloning the repo (because they can run `npm run start` to see it locally).

On the other hand of cour

[2019-07-17 04:02] wbamberg commented on #1347
@zlatnaspirala , I'm not sure what you are suggesting. Is the article on MDN? If so can you point to it?

[2019-07-17 11:53] ackvf commented on #1347
@wbamberg I see, that's quite a lot :) I thought that was just an included template. What a shame though, it would be more friendly and not discouraging as it sounds now. (The clone&PR is little frightening, tbh.)

You mentioned running `npm start`, but I always copy/paste the examples into a console to fiddle with them, that should suffice to test them, no?

[2019-07-17 16:56] wbamberg commented on #1347
Yes, I often do that too, and of course having to clone isn't itself a guarantee anyone will test it either. So I do think your suggestion is a good one and if I could wave a wand and have it done I probably would, at least as an experiment.

Background:

1) The interactive examples have their own build system, which builds examples into separate standalone web pages (e.g. https://interactive-exam

[2019-07-17 22:22] zlatnaspirala commented on #1347
Yes here is the link [ /docs/Games ](https://developer.mozilla.org/en-US/docs/Games/visual_typescript_game_engine) .

 I will forget this idea (for this project). I have webpack, typescript also my build system create one package (>400kb js).  Only way is to make custom chucks files (separate libs / example) and still example code will be javascript ecma5 not typescript - no sense at all.

 -The p

[2019-07-18 15:02] ackvf commented on #1347
@wbamberg Thank you for the exhaustive explanation!

I totally agree that the "Fork on github" should be hidden when viewing and only visible when user is already editing a page.

---

So basically, what you are saying is that when somebody writes a new  MDN page (by hand), they have to type (possibly copy/paste) this maually as well, when an already existing standalone interactive example is bein

[2019-08-01 14:11] valerian-precop opened #1404 "array filter example is not inline with the browser compatibility table"
Array filter example is not inline with the browser compatibility table.
Using the arrow function is not compatible with IE11 and bellow.

Suggested fix:
``
words.filter(function(word) { return word.length > 6; });
``

[2019-08-01 18:59] wbamberg commented on #1404
Thanks for filing!

You are right according to the guideline: https://github.com/mdn/interactive-examples/blob/master/JS-Example-Style-Guide.md#language-choice-es5es6. I think it would be better to use multiple lines, like:

[code]

Still it does feel weird to be using this syntax here, and [the general MDN guideline is now to use ES6 features in examples](https://developer.mozilla.org/en-US/docs/

[2019-08-04 19:35] #1351 closed

[2019-08-04 19:39] #1240 closed

[2019-08-05 18:35] joedarc opened #1409 "Make interactive examples style guide consistent with MDN examples style guide"
Referencing #1404, there was a discrepancy using ES6 syntax for an array example instead of ES5. Per @wbamberg:

The style guide should be updated to reflect that the guideline is to use ES6 syntax for these examples.

[2019-08-06 16:26] #1409 closed

[2019-08-06 16:28] wbamberg commented on #1404
Fixed by updating the guidelines -> https://github.com/mdn/interactive-examples/pull/1410.

[2019-08-06 16:29] #1404 closed

[2019-08-07 03:55] wbamberg commented on #1347
I guess so, yes. I'm sad too but I don't realistically think this is going to get done.

[2019-08-07 03:55] #1347 closed

[2019-09-05 05:38] alx696 commented on #887
@schalkneethling  Must define `@font-face` in the html:

[code]

Firefox 68.0.2 not show anything even define `@font-face` in the html.

[2019-09-09 04:16] ashvaibhav commented on #573
Looks like this issue can be closed now.
Examples are added in https://developer.mozilla.org/en-US/docs/Web/CSS/font-stretch#Font_face_selection

[2019-09-09 13:34] wbamberg commented on #573
I don't think so: this issue is to add interactive examples, and there are no interactive examples for `font-stretch` in that page or in this repo.

[2019-09-25 11:47] PerMildner opened #1446 "!Number.isFinite() does not imply infinity"
The [demo code](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number/isFinite) does:
[code]

But `isFinite(n)` is false also for NaN, so it is incorrect to say that "Number is infinity" just because `Number.isFinite(n)` is false, as the demo does.

[2019-10-09 00:27] #1446 closed

[2019-10-12 11:41] hasparus opened #1457 "Notification API example doesn't work in Chromium in cross-origin iframe."
## 🐛 Bug Description

I've given the permission, but the notification doesn't appear. I've found following deprecation message in the console.

CodePen and JSFiddle have the same problem. I suppose linking to the demo and describing why would be an okayish workaround.

## 📃 Steps to reproduce

- visit https://developer.mozilla.org/en-US/docs/Web/API/notification
- click <kbd>Notify me</kbd> button

[2019-10-16 03:13] wbamberg commented on #1457
@hasparus , thanks for the bug report! This is actually an issue with a *live sample* not an *interactive example* (yes this is totally confusing) so needs to be fixed in the MDN wiki itself, not in the interactive-examples repo.

I've cross-filed it as https://github.com/mdn/sprints/issues/2243, where it ought to get some attention.

[2019-10-16 03:13] #1457 closed

[2019-11-03 09:07] #1379 closed

[2019-11-03 09:47] velusgautam opened #1466 "list-style-type with content not working in chrome (Version 78.0.3904.87)"
<img width="1121" alt="Screenshot 2019-11-03 at 10 35 31" src="https://user-images.githubusercontent.com/8556085/68083281-3f424c80-fe27-11e9-9af4-ffb669db1bff.png">

[2019-11-03 10:42] wbamberg commented on #1466
I think Chrome doesn't support these values, so I'm not sure what's for the best really. We could omit them, but they are nice to have in the example. Ideally we would have a nice way to indicate that particular values are not supported, but we don't, and I don't expect this to change any time soon.

[2019-11-03 11:53] velusgautam commented on #1466
Can we add a warning box below to show **some features are not supported in chrome**. But I tested in Chrome Canary and except space-counter rest is working.

[2019-11-03 11:54] velusgautam commented on #1466
I can add a warning box and create a PR. What do you think @wbamberg

[2019-11-03 17:19] wbamberg commented on #1466
I'm not very keen on adding notes like this because I think they will tend to get out of date when browser support changes. We have a single place in the page where compat data is consistently presented and where we can expect it it maintained - the compat table powered by data from https://github.com/mdn/browser-compat-data. Having extra places is asking for trouble.

The best thing we could do h

[2019-11-06 06:30] Ende93 opened #1471 "The image in css style guide is invalid"
## Steps
Follow [CSS-Example-Style-Guide.md](https://github.com/mdn/interactive-examples/blob/master/CSS-Example-Style-Guide.md) > Output width considerations > https://screenshots.firefox.com/YYrEvqLEmLjJCddS/developer.mozilla.org

## Result
Only see that error page.

## Expect
Please update the image.

[2019-11-06 11:10] velusgautam commented on #1471
The issue with link is there. Also the screenshots.firefox.com is going to be deprecated. So need to put that image in repo and refer or some other reliable links. @wbamberg  Do you have any pointers how to fix this?
https://screenshots.firefox.com/YYrEvqLEmLjJCddS/developer.mozilla.org

I will try to fix it. Thanks @Ende93 .

[2019-11-06 11:12] velusgautam opened #1473 "Color Adjust not working in chrome."
![Screenshot 2019-11-06 at 12 04 20](https://user-images.githubusercontent.com/8556085/68293613-99911680-008e-11ea-89dd-d5666b6b7795.png)

https://developer.mozilla.org/en-US/docs/Web/CSS/color-adjust

[2019-11-06 14:54] wbamberg commented on #1471
Sorry @velusgautam , I didn't see this part of your comment, and just filed a fix already. Thanks for the information about it though, and thanks @Ende93 for filing.

[2019-11-06 14:54] #1471 closed

[2019-11-06 16:21] #1466 closed

[2019-11-09 08:17] wbamberg commented on #250
See also https://github.com/mdn/interactive-examples/pull/1470.

[2019-11-15 08:09] schalkneethling opened #1487 "Add docs on using allcontributors"
I used to always keep the contributors list up to date via `allcontributors`. I have not done this in some time and that is unfortunate. Also, because I always just did this, I never documented what I actually do. #sad

This issue is to document this and/or have a look at the evolution of `allcontributors` and see whether this cannot be automated entirely.

[2019-11-15 17:16] wbamberg commented on #1487
What do you think about removing allcontributors from this repo? I understand that it's a nice thing to have, but it is an extra thing to maintain by people who barely have time to maintain the other things. And we don't use it for other MDN repos, and it's always possible to get the list of contributors from https://github.com/mdn/interactive-examples/graphs/contributors.

[2019-11-18 12:28] schalkneethling commented on #1487
Let me have a quick look and see whether the new version is indeed automated. If it still requires manual hand-holding, then I reckon it makes sense to remove it.

[2019-12-01 21:41] Paul-Browne opened #1498 "Keep example's javascript consistent with that feature's EMCA release"
For example the `array.reduce` interactive example uses `const` and an arrow function `=>` which were not part of the EMCAScript 5 release (when reduce was introduced).

Obviously this reduce example will still work, but not in IE9, which is listed in the browser compatibility section.
Rather use javascript in the interactive example that was around when the feature was released. In this case `var

[2019-12-02 19:18] wbamberg commented on #1498
Thanks for filing! We've fairly recently changed our policy on this, and now recommend using "modern JS" features (like `const` and `let` and arrow functions) for all our example code.

Please see https://discourse.mozilla.org/t/proposal-for-policy-change-regarding-use-of-es6-features-in-code-examples/32686 and https://developer.mozilla.org/en-US/docs/MDN/Contribute/Guidelines/Code_guidelines/Java

[2019-12-02 19:18] #1498 closed

[2019-12-02 22:26] wbamberg commented on #1473
According to our docs, this property is only supported in Chrome behind the `-webkit-` prefix. Actually this doesn't seem quite right - according to https://css-tricks.com/almanac/properties/c/color-adjust/, the Chrome version is called `webkit-print-color-adjust`. Still, it is possible to support multiple different names for properties (see https://github.com/mdn/interactive-examples/pull/1120 fo

[2019-12-02 22:26] #1473 closed

[2019-12-06 09:34] ikarasz commented on #250
Hi @wbamberg, @schalkneethling, I would be interested in this improvement but I am not familiar with the ecosystem... Is this related to [mdn-bob](https://github.com/mdn/bob)? Could you pls give me some hint? Cant this fit into the [`processAndWrite`](https://github.com/mdn/bob/blob/master/lib/bundler.js#L128) function?

Also, I was thinking about the examples, they are html files now, could we ch

[2019-12-06 16:59] wbamberg commented on #250
You are not wrong! I agree this would the the first step towards setting up linting. Making them js files would be easier for contributors too I think. And yes, to make this happen we'd need changes to mdn/bob to handle this style, and to mdn/interactive-examples to update all the JS examples.

In fact I've been a little way down this exact path quite recently. What I did was:

* added a new expor

[2019-12-07 09:48] schalkneethling commented on #250
Agreed. Everything build related would need to happen in BoB and then this repo will need to be updated to reflect the changes to files names, structure etc.

[2019-12-13 04:24] ikarasz commented on #250
I'm working on this issue now and I was thinking about how do we want to replace the current examples? All of them at once or in smaller chunks in different pull requests?

[2019-12-13 07:49] schalkneethling commented on #250
I would think that, if we do a couple of small pull requests first, that would be the safer option. Once we are confident that the approach works well, we can then do a mass migration. Thoughts @wbamberg

[2019-12-13 17:37] wbamberg commented on #250
\o/

@schalkneethling is probably right, it would be safer to do it that way. So I suppose it would go:

- [ ] update mdn/bob so it can understand both formats (HTML containing JS or pure JS)
- [ ] update a few examples to be pure JS
- [ ] check that everything still works
- [ ] update all the examples to be pure JS
- [ ] update mdn/bob so it only understand pure JS

After that we would be in a po

[2019-12-14 07:03] schalkneethling commented on #250
Sounds like a plan to me.

[2019-12-15 03:36] ikarasz commented on #250
Sounds perfect to me too

[2019-12-15 20:50] wbamberg commented on #250
I have filed https://github.com/mdn/bob/issues/367 over in mdn/bob for the first of these.

[2019-12-23 06:25] KRONOS-11 commented on #400
hey @schalkneethling , I've attempted to fix this issue in my [pull request](https://github.com/mdn/interactive-examples/pull/1509) , any feedback is appreciated.

[2020-01-04 09:47] velusgautam commented on #1487
@all-contributors please add @velusgautam  for  code, doc and bug

[2020-01-04 09:48] velusgautam commented on #1487
I have earlier added manually and it was a mistake.

[2020-01-04 09:50] velusgautam commented on #1487
@schalkneethling I have added my details manually to the Readme.md and it was a mistake. Can you please correct it.

[2020-01-08 10:14] schalkneethling commented on #1487
Any specific reason you feel it was a mistake? If you have contributed(which it definitely looks like you have, then having you on the list is perfect. Let me know if I am missing something. Thanks!

[2020-01-08 10:18] schalkneethling commented on #1487
I am in the process of adding the AllContributors Bot to the repo https://allcontributors.org/en

Once that is all good and ready, the process will be largely automated. See:
https://allcontributors.org/docs/en/bot/usage

[2020-01-09 05:24] ikarasz commented on #250
@wbamberg how can I get notified when the mdn/bob has released?

[2020-01-09 08:22] schalkneethling commented on #250
I will post a message here once it has been released.

[2020-01-13 16:27] peterbe opened #1523 "npm install wants to edit package-lock.json"
On a fresh checkout of `master` (see date of issue), after running `npm install` it wants to edit my `package-lock.json`:

[code]

[2020-01-14 14:10] schalkneethling commented on #250
@ikarasz - A new version of the package mdn-bob (1.1.42) was published at 2020-01-14T14:04:00.544Z from 35.202.245.105. The shasum of this package was 0e77590977d33ea1938e85fd90f55f7750f7c246.

[2020-01-14 14:11] schalkneethling commented on #250
https://github.com/mdn/interactive-examples/pull/1525

[2020-01-14 14:19] ikarasz commented on #250
Cool @schalkneethling, then as next step we need to add some examples with js source. I'll do that tomorrow.

[2020-01-14 20:30] liuhao088 commented on #400
yes

[2020-01-14 21:53] wbamberg commented on #400
Closed via https://github.com/mdn/interactive-examples/pull/1509. Thanks @KRONOS-11 !

[2020-01-14 21:53] #400 closed

[2020-01-16 08:40] ikarasz opened #1530 "Decrease the height of short examples"
Since the short example's line limit has been reduced, there is a bigger white gap at the bottom of short examples:
![short-interactive-example-gap](https://user-images.githubusercontent.com/5849426/72507050-1b1ad700-387e-11ea-9cca-1dd146660632.png)
So I am wondering whether we should reduce the height of the editor and iframe as well. It would look like this with a smaller editor:
![short-interac

[2020-01-16 08:46] ikarasz commented on #250
It looks good to me. Can we start to replace all the examples? I would go with smaller chunks, for example by folders.

[2020-01-16 20:44] peterbe commented on #995
Pardon my ignorance on this but wouldn't it be better to do this as a "lint step" as part of CI.
If an image could be vastly optimized, it could break the build.
Actually, out of curiosity I built a possible hack for this.

[2020-01-16 22:44] wbamberg commented on #995
If it's a thing the machines can do for us by squashing automatically, why place the burden on contributors?

If the CI knows enough about what it wants here to give precise instructions to contributors, then surely the machines can just do this for us (as they do with prettier for example).

If the CI doesn't know enough to give precise instructions, then this seems like it will be very frustrati

[2020-01-16 22:47] wbamberg commented on #250
I believe the three examples you updated are these, and are now live:

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Classes/extends
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/getUTCSeconds
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/now

...and they look great. So I'm totally happy to go ahead

[2020-01-17 12:18] peterbe commented on #995
The image is part of the git so it'd be a bit weird if CI changed it. Will CI then also check in the new slimmed image into git?

A lot of organized projects have some sort of thing like this in their `package.json` scripts section for example:
[code]
Then, in developer's git hooks or integrated into their IDE, they execute the `lintfix` because why should a human developer have to correct things

[2020-01-20 02:53] schalkneethling commented on #1523
Time for some :yarn: :)

[2020-01-21 16:54] peterbe opened #1536 "Interactive example static assets aren't very cached"
For example, a page [like this](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/concat) uses an [iframe like this](https://interactive-examples.mdn.mozilla.net/pages/js/array-concat.html) which has a `cache-control: max-age=1800` which I think is fine (1800==30min).

However, there are a bunch of other assets could be cached longer:

These are `max-age=1800`:

[2020-01-21 17:19] peterbe commented on #995
I ended up writing a simple tool. Its output looks like this:
[code]

I think it's scary to mess with other people's images. What if a particular .jpg is supposed to be large as that's the example. Or, perhaps an image needs to be expensively super-crisp and its value would be ruined if we ran `jpegtran`/`pngquant` on it.

What my little hack script does is that it compresses all files into `/tmp/

[2020-01-21 17:22] peterbe commented on #995
Here's my hack by the way: https://github.com/mdn/interactive-examples/compare/master...peterbe:995-add-a-build-step-to-squash-images

[2020-01-21 17:52] wbamberg commented on #995
Yes, I could see how this would be helpful. I like the idea of making it a hint and providing a squashed version that people can use if they choose.

[2020-01-21 17:58] schalkneethling commented on #995
That is neat! It would indeed be a very nice touch if the command would ask the user at the end whether they want to commit as is or commit the optimized images.

[2020-01-21 17:59] schalkneethling commented on #995
It won't crop, so that makes it safer, and we do not have to be overly aggressive with the compression level. In general, these images will not need to be super large as the output window is pretty small.

[2020-01-21 19:26] peterbe commented on #995
Actually, suppose that we land this. One if you two gentlemen could take care and optimize every single existing image (that is mentioned in the warnings and errors output). That means that if someone comes with a new PR, only their newly added images would be potential for error.

[2020-01-22 08:18] schalkneethling commented on #995
I am happy to run ImgOptim over it and commit the changes. @wbamberg What do you think?

[2020-02-07 00:55] #1310 closed

[2020-02-16 00:45] pillig3 commented on #573
Gave this a try, it's working in Chrome (79.0) but not Firefox (73.0) nor Safari (12.1.2).
Those should support font-stretch; can anyone tell what's wrong with the code?

- https://github.com/mdn/interactive-examples/compare/master...pillig3:master

[2020-02-16 03:16] wbamberg commented on #573
@pillig3 , thanks for your contribution! Your example works fine for me in both Firefox (73 and Nightly) and Safari (13). In what way is it not working for you? Do you get any console errors?

Also, @schalkneethling , does the linked example (https://github.com/mdn/interactive-examples/compare/master...pillig3:master) work for you?

[2020-02-16 03:55] pillig3 commented on #573
Interesting; I'm not getting any errors (other than a 404 for '/favicon.ico'). The element's style does change, but visually the text doesn't change–

![Screen Shot 2020-02-15 at 9 44 56 PM](https://user-images.githubusercontent.com/26679647/74598746-910c8c80-503c-11ea-9aa2-b82dd0239230.png)

[2020-02-18 08:28] schalkneethling commented on #573
Yes. Tested in Chrome, Firefox, Safari and Edge

[2020-02-18 16:54] wbamberg commented on #573
Just to be clear, here's how it looks in Firefox 73 for me:

![font-stretch-firefox](https://user-images.githubusercontent.com/432915/74758482-3fc2ef80-522c-11ea-850a-43fc9d1bc1fd.gif)

[2020-02-18 18:06] schalkneethling commented on #573
same for me as well.

[2020-02-23 19:39] pillig3 commented on #573
Thanks for testing it! It's working for me also after re-downloading it, so I made a PR

[2020-02-27 08:32] #1536 closed

[2020-03-06 00:11] wbamberg commented on #1530
A bit of data/analysis on this.

We have 3 editor heights, "short", "standard", "tall".

**"short"**
* can show 9 lines
* examples < 7 lines get the short editor
* example of the tallest "short" example: [`String.lastIndexOf()`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/lastIndexOf)

**"standard"**
* can show 13 lines
* examples 7-12 lines inclusive ge

[2020-03-06 00:18] wbamberg commented on #1530
So having written all that out :) then if we are happy with these boundaries, then I agree, we could trim the short editor by a couple of lines, and still have an empty line at the end.

Alternatively we could move the boundary for "short" so that examples with 7 get the short editor. As you say though it's a balance between giving space back to the page, and having a bit of space under the exampl

[2020-03-06 08:36] chrisdavidmills commented on #1530
I don't think anything needs to be done here. Having a bit of whitespace at the bottom of the short examples doesn't look wrong, imo, it makes the example window look nicely balanced. If you make it shorter still, it looks a bit squashed.

And it is nice to have a bit of visible space available in which to experiment.

[2020-03-06 11:13] Elchi3 commented on #1530
From looking at some of these, I also don't feel strongly about changing anything here. It is just a feeling, however. I haven't done any analysis. Changing the boundaries, like Will says, might be an idea to experiment with, if we feel the need to optimize this.

[2020-03-06 16:48] wbamberg commented on #1530
OK, thanks for your feedback, people! And thanks for raising this @ikarasz . I'm glad to have done this analysis - it's worth checking these assumptions from time to time. But I think we may as well close this, since there doesn't seem to be a strong desire to change things.

[2020-03-06 16:48] #1530 closed

[2020-03-09 09:42] Mangor1no commented on #887
This problem still occurs on both Chrome and Firefox.

Chrome version: 80.0.3987.132 (64 bit) (cohort: Stable)
Firefox version: 73.0.1 (64 bit)

[2020-03-10 13:08] velusgautam commented on #1487
@schalkneethling I was also mentioning that, the bot was supposed to add me. I didn’t notice that and added it manually.
No worries, when process is complete I hope things will be in order :)

[2020-03-11 04:08] schalkneethling opened #1549 "Switch to Dependabot"
All/most of our projects have adopted or switched to using Depandabot. There are many reasons for this. Some may include:

Dependabot is now owned by Github and will most likely be tied into the overall product more transparently over time and should, therefore, technically, provide a better overall experience over time. It also makes sense that Depndabot will get access to all the security work h

[2020-03-11 15:30] eafiontzi commented on #887
I have the exact same problem, building a web component using Angular Custom Elements which includes custom `@font-face` . If I use `encapsulation: ViewEncapsulation.ShadowDom` the fonts are not appearing, instead without shadowDom and using `:host ::ng-deep` works fine.

[2020-03-17 14:04] kenrick95 commented on #1523
In npm cli, one can use [`npm ci`](https://docs.npmjs.com/cli/ci) (short for "clean install") so that the node modules installation does not touch the package-lock.json

[2020-03-18 00:21] #1549 closed

[2020-03-30 14:12] ikarasz opened #1561 "HTML examples: sometimes line counter collapses"
There are some HTML examples (for example [\<header\>](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/header)) where the content overflows the line counter in chrome and looks bad.

![mdn-header-chrome](https://user-images.githubusercontent.com/5849426/77922204-0b1d6b80-72a1-11ea-8a93-a712c5286818.png)

[2020-03-30 15:19] wbamberg commented on #1561
Thanks for filing @ikarasz . This was also filed as https://github.com/mdn/kuma/issues/6307 . Do you see this all the time or just intermittently?

[2020-03-30 17:55] ikarasz commented on #1561
@wbamberg In the afternoon I noticed the issue on two different computers, now I cannot reproduce it on any of them.

[2020-04-08 16:26] wbamberg commented on #250
I merged https://github.com/mdn/interactive-examples/pull/1564 yesterday, which means we are no longer supporting JS-in-HTML, and apparently nothing has exploded. So the list in https://github.com/mdn/interactive-examples/issues/250#issuecomment-565534930 is now complete. Great work on this @ikarasz and @schalkneethling !

[2020-04-08 18:59] ikarasz commented on #250
Good news @wbamberg! What's next? In my opinion, the linter should be invoked by [mdn/bob](https://github.com/mdn/bob) during the build, but we should also let contributors check their change, eg with the `npm start` command. On the other hand, the eslint config should be in this repository, so we can change it anytime without deploying a new bob version moreover bob would be more flexible in this

[2020-04-09 05:26] wbamberg commented on #250
Do you think we should have a separate `npm lint` command, and call it from `npm build`? The main things functionally seem to be:

* it should be convenient to run it locally from the command line
* it should run as part of CI
* as you said, it should be convenient to change the rules, which means having them in  interactive-examples

Apart from that I'm happy to defer to you and @schalkneethling

[2020-04-09 07:53] schalkneethling commented on #250
I do not think `Bob` needs to be concerned with that. The code is authored in this repo so, this repo should take care of the linting.

I am thinking we use `eslint` rules that are shared among other projects we have(probably use Kuma as an example?). We can then potentially setup `eslint` to:

1. Be configurable for your editor (only lint JS files in the relevant directories
2. Add a pre-commit h

[2020-04-09 10:50] ikarasz commented on #250
Sounds good to me @schalkneethling, only one question. Does your last point refer to travis?

[2020-04-09 13:38] schalkneethling commented on #250
CI === Travis === Yes 😄

[2020-04-22 20:04] ikarasz commented on #250
Hi @wbamberg,

I've played around with eslint in this repository and some ideas, questions came into my mind. First, we already have an eslint setup, it is pretty similar to the kuma eslint but it has some unnecessary settings/globals. Overall it looks good, it just needs some adjustments.

If I run eslint with the current configuration, I get ~720 errors. If we change the indentation to 2 spaces,

[2020-04-23 00:09] wbamberg commented on #250
@ikarasz , thanks for this great analysis! Very interesting. I'll have a proper think about it tomorrow. I've also asked in the team if anyone else has views about how to resolve these issues, so there might be some other responses here too :).

[2020-04-23 09:08] chrisdavidmills commented on #250
This is really interesting. Is there a way to make eslint skip over particular blocks of code that are marked as "bad", in the same way we currently have code examples marked as "bad" in the current KS world?

e.g.

[code]

An equivalent in markdown could then be

<pre>```js-bad
  ...
[code]

[2020-04-23 09:11] schalkneethling commented on #250
You can totally do that:

https://eslint.org/docs/user-guide/configuring#disabling-rules-with-inline-comments

[2020-04-23 19:03] wbamberg commented on #250
I this think is István's option 3: "turn off rules per file with comments", isn't it?

As he says though, we don't really want eslint comments appearing in the actual examples, so we'd need machinery in bob to remove them.

Of the three options you've described:

Of these three options, I like option 2 the best. Option 1 doesn't provide enough help, as you say. Option 3 I think is a bit too magica

[2020-04-24 08:18] ikarasz commented on #250
Exactly, option 3 was what @chrisdavidmills and @schalkneethling meant.
based on your feedback I will setup our eslint config with all the desired rules but they will be only warnings until we fix all the issues, after that, we can change them to errors.
@wbamberg you convinced me with the overriding approach, it sounds reasonable.
As a next step, I will create a pull request which will contain
 -

[2020-05-05 18:14] wbamberg commented on #250
I think we can close this now? Thanks for all your work on this @ikarasz ! This is the most exciting this to happen to interactive examples for years. If you would like to, please send me an email at my username here at mozilla dot com.

[2020-05-05 18:14] #250 closed

[2020-05-19 02:16] schalkneethling commented on #1561
😄 That is the fun ride we have also been having with this one. We also just did not have enough time to really dig into. it. It is tricky to figure out whether it is a Codemirror thing or just a race condition in our use of it.

[2020-05-19 16:05] Elchi3 opened #1587 "JS examples: need example for Array.flatMap()"
-> https://wiki.developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/flatMap

How to do this work: https://github.com/mdn/interactive-examples/blob/master/CONTRIBUTING-JavaScript.md

[2020-05-23 13:03] johnaweiss opened #1591 "Embed JS editor"
Hi, simple question, what's the minimal code to embed a JS code editor in an HTML webpage?

thx!

[2020-05-26 22:09] wbamberg commented on #1591
These examples get built into standalone web pages under https://interactive-examples.mdn.mozilla.net/ : for example https://interactive-examples.mdn.mozilla.net/pages/js/array-slice.html. So you could just embed that page in an iframe, and that's what the MDN pages themselves do.

However, this is considered an internal implementation detail of the interactive examples system, so while I can't se

[2020-06-12 05:44] schalkneethling commented on #310
@ikarasz Could we break them up into separate test suites and run each suite separately in parallel? THinking out loudly, I have not actually looked at how possible this is.

[2020-06-12 07:37] ikarasz commented on #310
@schalkneethling this is what I try to achieve by creating a describe (test suit) for each folder in the js examples. I can try a describe for each example instead, it could work. I will play with this at the weekend

[2020-06-15 16:16] ikarasz commented on #310
Ok, I found it. My fault, I just didn't run the build before testing so of course the page couldn't be loaded. The error message was not straight forward...
Now I've added a pretest script to run the build before testing, it works like a charm.
Currently we have 83 failing tests I think I will fix as much as I can then I come back to bob to finish my prototype.
There are some tricky test cases. Fo

[2020-06-30 09:08] avivmu opened #1614 "Example displayed differently depending what example was displayed before"
In https://developer.mozilla.org/en-US/docs/Web/CSS/inline-size
There is a problem with the second example `inline-size: 150px;
writing-mode: vertical-rl;`.
If you click on it when the _first_ example is displayed then it is shown OK:
![image](https://user-images.githubusercontent.com/19804341/86107268-490d7400-baca-11ea-8331-150ded621276.png)

However if you click on it when the _third_ example i

[2020-07-09 14:59] hinell opened #1622 "Object.prototype.isPrototypeOf"
Replace existing example of the [isPrototypeOf] ([MDN]) by the following:

[code]
Current example is vague.

[isPrototypeOf]: https://github.com/mdn/interactive-examples/blob/master/live-examples/js-examples/object/object-prototype-isprototypeof.js
[MDN]: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/isPrototypeOf

[2020-07-15 18:28] wbamberg commented on #1622
Can you explain what you mean by vague? What's vague about it, specifically, and how does the proposed change fix that?

[2020-07-22 20:06] hinell commented on #1622
@wbamberg It's hard to catch what's going on due to bad namings. Instance names are mixed with constructors's ones:
[code]

[2020-07-25 07:51] SimonSiefke opened #1629 "update gap example"
Currently there is [one example](https://developer.mozilla.org/en-US/docs/Web/CSS/gap) that shows the use of `grid-gap`.
Since `gap` is now [widely supported](https://developer.mozilla.org/en-US/docs/Web/CSS/gap) I think it would make sense to update the example to show the use of `gap` instead of `grid-gap`. If wanted, I can make a PR. 🙂

[2020-07-27 16:47] wbamberg commented on #1629
Yes, I agree, we should update this. And yes, I'd be very happy to see a PR for it :).

[2020-07-30 00:21] wbamberg commented on #1614
I can't reproduce this in Chrome (85) or Firefox. @schalkneethling , can you?

[2020-07-30 06:27] avivmu opened #1633 "Uncaught TypeError: Cannot read property 'classList' of null"
https://developer.mozilla.org/en-US/docs/Web/CSS/inline-size

When clicking on the gap **between** two examples I get this shown in console:
[code]
I marked some part where it happens for easier understanding
![image](https://user-images.githubusercontent.com/19804341/88888255-a8d07980-d246-11ea-9cab-e8523c66ceb3.png)

[2020-07-30 06:40] avivmu commented on #1614
I noticed it also happens the first time coming from the first example as well, but after that only the third example is causing it
Also I managed to get the fourth example not span all the available height (Not connected to the error shown in the log):
![image](https://user-images.githubusercontent.com/19804341/88889359-a66f1f00-d248-11ea-82b4-854d6e1662ef.png)

[2020-07-30 10:42] schalkneethling commented on #1614
I can reproduce this on Chrome 83 and 84 as well as Edge 84 and 85(dev). This seems to be a Blink bug that is fixed in Chrome 85. I say Blink because Safari does not exhibit the same problem.

[2020-07-30 17:04] #1629 closed

[2020-08-02 11:03] avivmu opened #1634 "Uncaught TypeError: Cannot read property 'setMark' of undefined"
The line number container is gone and the code overlaps it.
![image](https://user-images.githubusercontent.com/19804341/89121555-7fbf1b80-d4c8-11ea-8430-19c368e131c7.png)

Error in console:
[code]
Refresh fixes it

[2020-08-06 20:02] wbamberg opened #1636 "JS examples: need example for Array.flat()"
-> https://wiki.developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/flat

How to do this work: https://github.com/mdn/interactive-examples/blob/master/CONTRIBUTING-JavaScript.md

Split out from https://github.com/mdn/interactive-examples/issues/1587.

[2020-08-06 20:05] #1591 closed

[2020-08-07 10:13] GAUTAMRAJU15 commented on #1636
Cool on it

[2020-08-07 18:42] wbamberg opened #1637 "CSS examples: need examples for border-block property and its longhands"
https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/border-block

and its longhands:
https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/border-block-width
https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/border-block-style
https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/border-block-color

This property is part of the "logical properties". This group of properties set things like `

[2020-08-07 18:45] wbamberg opened #1638 "CSS examples: need examples for border-inline property and its longhands"
https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/border-inline

and its longhands:
https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/border-inline-width
https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/border-inline-style
https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/border-inline-color

This property is part of the "logical properties". This group of properties set things li

[2020-08-07 19:40] wbamberg opened #1639 "CSS examples: need examples for overscroll-behavior and its related properties"
See https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/overscroll-behavior - this property controls aspects of the browser's behavior when the user reaches the end of a scrolling box.

For example, when a scrolling box is placed inside another scrolling box, then by default, when the user reaches the end of the inner box, the outer box will start to scroll. The `overscroll-behavior` property ca

[2020-08-07 20:13] wbamberg opened #1641 "CSS examples: need example for image-rendering"
https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/image-rendering

The page has a good description of the property and a live sample that could provide a basis for an interactive example, although it would be nice at least to use a different image, if possible. I don't know if you have to choose a particular type of image in order to see the effect -  guess at least it has to be scaled up or d

[2020-08-07 20:27] wbamberg opened #1642 "CSS examples: need example for line-break"
https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/line-break

There's a live sample in the page that could help guide an interactive example. But it would be *very* helpful for the author of this example to understand Chinese, Japanese, or Korean text.

[2020-08-07 20:29] wbamberg commented on #573
Note, I closed https://github.com/mdn/interactive-examples/pull/1545 since it seems to be inactive, so this issue is open for anyone to take.

[2020-08-07 20:37] wbamberg opened #1643 "CSS examples: need example for offset"
https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/offset

This is a shorthand property for the properties used to animate an element along a path.

This is a relatively complex example to implement, but there are some nice interactive examples for some of the longhand properties, that could be adapted for this one. In particular https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/offset-path

[2020-08-07 20:44] wbamberg opened #1644 "CSS examples: need examples for text-emphasis longhand properties and text-emphasis-position"
We have an interactive example for the text-emphasis shorthand property (https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/text-emphasis) but none for its longhands:

https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/text-emphasis-style
https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/text-emphasis-color

We should also have an interactive example for https://wiki.developer.mozilla.or

[2020-08-07 22:44] wbamberg opened #1645 "CSS examples: need example for tab-size"
https://wiki.developer.mozilla.org/en-US/docs/Web/CSS/tab-size

This looks quite straightforward. Note that it's prefixed in Firefox, so the interactive example choices need to set both `tab-size` and `-moz-tab-size`.

[2020-08-09 03:44] wbamberg opened #1646 "JS examples: need example for Intl.ListFormat.formatToParts()"
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/ListFormat/formatToParts

The interactive example could follow a similar pattern to the example for [Intl.RelativeTimeFormat.formatToParts()](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/RelativeTimeFormat/formatToParts).

[2020-08-09 03:45] wbamberg opened #1647 "JS examples: need example for Intl.DateTimeFormat.formatToParts()"
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/DateTimeFormat/formatToParts

For inspiration, see the [examples in the page](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/DateTimeFormat/formatToParts#Examples), and also the interactive example for [`Intl.RelativeTimeFormat.formatToParts()`](https://developer.mozilla.org

[2020-08-09 03:48] wbamberg opened #1648 "JS examples: need example for Intl.ListFormat.resolvedOptions()"
See https://wiki.developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/ListFormat/resolvedOptions.

The interactive example could follow a similar pattern to the example for [Intl.NumberFormat.resolvedOptions()](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/NumberFormat/resolvedOptions).

[2020-08-09 03:52] wbamberg opened #1649 "JS examples: need example for Intl.NumberFormat.formatToParts()"
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/NumberFormat/formatToParts

The interactive example could follow a similar pattern to the example for [Intl.RelativeTimeFormat.formatToParts()](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/RelativeTimeFormat/formatToParts).

[2020-08-09 03:54] wbamberg opened #1650 "JS examples: need example for Intl.PluralRules.resolvedOptions()"
See https://wiki.developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/PluralRules/resolvedOptions.

The interactive example could follow a similar pattern to the example for [Intl.NumberFormat.resolvedOptions()](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/NumberFormat/resolvedOptions).

[2020-08-09 03:57] wbamberg opened #1651 "JS examples: need example for Intl.PluralRules.select()"
https://wiki.developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/PluralRules/select

[2020-08-09 04:00] wbamberg opened #1652 "JS examples: need example for Intl.PluralRules.supportedLocalesOf()"
See https://wiki.developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/PluralRules/supportedLocalesOf.

The interactive example could follow a similar pattern to the example for [Intl.DateTimeFormat.supportedLocalesOf()](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/DateTimeFormat/supportedLocalesOf).

[2020-08-09 04:05] wbamberg opened #1653 "JS examples: need example for Promise.finally()"
https://wiki.developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise/finally

Inspiration could possibly be got by looking at some of the other `Promise` examples, especially:

https://wiki.developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise/then
https://wiki.developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise/catch

[2020-08-09 04:10] wbamberg opened #1654 "JS examples: need example for Promise.resolve()"
https://wiki.developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise/resolve

The example could be a variation of the example for [Promise.reject()](https://wiki.developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise/resolve)

[2020-08-10 17:25] wbamberg commented on #1636
Fixed by https://github.com/mdn/interactive-examples/pull/1655.

[2020-08-10 17:25] #1636 closed

[2020-08-16 13:58] ajostel opened #1671 "https://developer.mozilla.org/en-US/docs/Web/CSS/border-image-slice"
# Request type

- [ ] Please close this issue, I accidentally submitted it without adding any details
- [ ] New documentation
- [x] Correction or update

# Details

The CSS demo doesn't work: the /media/examples/border-florid.svg is not accessible

[2020-08-17 07:09] hacker-eleos opened #1670 "https://developer.mozilla.org/en-US/docs/Web/CSS/background-position"
# Request type

- [ ] Please close this issue, I accidentally submitted it without adding any details
- [ ] New documentation
- [x] Correction or update

# Details

In background-position CSS documentation, the demo window seems illogical. Doesn't really convey any information about position while changing the property values.

https://developer.mozilla.org/en-US/docs/Web/CSS/background-position
!

[2020-08-19 02:24] luka-bacic opened #1667 "Broken image for CSS filter Demo https://developer.mozilla.org/en-US/docs/Web/CSS/filter"
# Request type
- [x] Correction or update
The image link needs updating

# Details
The image for the CSS filter Demo is broken

# Page in question
https://developer.mozilla.org/en-US/docs/Web/CSS/filter

[2020-08-19 13:39] #1523 closed

[2020-08-19 15:28] schalkneethling opened #1668 "Travis build is faling"
Post the `yarn` change the Travis build is failing:

[code]

[2020-08-19 15:41] schalkneethling commented on #1667
this is resolved in:
https://github.com/mdn/interactive-examples/pull/1669

[2020-08-19 15:41] schalkneethling commented on #1670
resolved in: https://github.com/mdn/interactive-examples/pull/1669

[2020-08-19 16:55] #1668 closed

[2020-08-20 13:16] schalkneethling commented on #1667
Confirmed to work now on: https://developer.mozilla.org/en-US/docs/Web/CSS/filter

[2020-08-20 13:16] #1667 closed

[2020-08-20 13:17] schalkneethling commented on #1671
Confirmed to work at: https://developer.mozilla.org/en-US/docs/Web/CSS/border-image-slice

[2020-08-20 13:17] #1671 closed

[2020-08-20 13:17] schalkneethling commented on #1670
Confirmed as resolved: https://developer.mozilla.org/en-US/docs/Web/CSS/background-position

[2020-08-20 13:17] #1670 closed

[2020-08-20 15:16] peterbe opened #1674 "Media URL in interactive-examples.mdn.mozilla.net stopped working"
**Summary**
The interactive example on https://developer.mozilla.org/en-US/docs/Web/HTML/Element/video stop working
because suddenly https://interactive-examples.mdn.mozilla.net/media/examples/flower.mp4 is 404'ing.

**Steps To Reproduce (STR)**
See above

**Actual behavior**
https://interactive-examples.mdn.mozilla.net/media/examples/flower.mp4 404

**Expected behavior**
https://interactive-examp

[2020-08-24 07:55] #1674 closed

[2020-09-01 11:50] schalkneethling opened #1683 "Media file for track example missing"
The `mp4` for the `http://127.0.0.1:9090/pages/tabbed/track.html` example is missing. The video file is actually located in `live-examples/media/cc0-videos/friday.mp4`

[2020-09-01 14:28] #1683 closed

[2020-09-28 06:29] velusgautam commented on #1653
[code]

[2020-09-28 11:50] velusgautam commented on #1653
@wbamberg

[2020-09-28 15:24] peterbe commented on #1653
Is there not a task, that returns a promise, that we can use instead of relying on actual XHR requests.
For example,
[code]

[2020-10-14 16:34] sahilempire commented on #1645
I wanna work on this issue, Please assign this to me. @wbamberg

[2020-10-14 16:36] sahilempire commented on #1642
I wanna work on this issue, **Please assign this to me**. **@wbamberg**

[2020-10-14 17:18] chrisdavidmills commented on #1638
@sahilempire we would love your help; thanks !

[2020-10-23 08:28] iamVP7 opened #1710 "Need New labels"
This is not related to code contribution, but can help contributors.

It will be good to have labels specifically like JS, CSS, HTML.

Yes the heading is helping a lot, but labeling will help in easy filtering for beginners like me.

If created, I can help in assigning labels.

[2020-10-23 08:46] chrisdavidmills commented on #1710
Hi @iamVP7

Thanks for bringing this up. So to make sure I am understanding you correctly, you want to add labels to the open issues on this repo to indicate what subject areas they relate to, for easier triaging/contribution?

This being the case, I think it is a really good idea. For consistency, I think we should probably stick to the same scheme as our main sprints repo: https://github.com/mdn

[2020-10-23 09:03] iamVP7 commented on #1710
`
Thanks for bringing this up. So to make sure I am understanding you correctly, you want to add labels to the open issues on this repo to indicate what subject areas they relate to, for easier triaging/contribution?
`
Exactly  this is the main reason.

`
This being the case, I think it is a really good idea. For consistency, I think we should probably stick to the same scheme as our main sprints

[2020-10-23 09:17] chrisdavidmills commented on #1710
I agree with you, and have created the labels: see https://github.com/mdn/interactive-examples/labels

[2020-10-23 10:25] iamVP7 commented on #1710
Thanks @chrisdavidmills  :)  closing this comment.

[2020-10-23 10:25] #1710 closed

[2020-10-27 13:52] XRFXLP opened #1715 "JS Examples: String.prototype.replaceAll() demo is broken"
![image](https://user-images.githubusercontent.com/23459568/97310691-84a62800-1889-11eb-9940-6f966574b7b9.png)

The code example of replaceAll which is given [here](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/replaceAll) returns an error.

Step to reproduce:
1. Go to the attached link.
2. Click run.

[2020-10-27 14:36] chrisdavidmills commented on #1715
@XRFXLP This works for me, in Chrome and Firefox. Which browser are you using? Does it support [replaceAll()](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/replaceAll#Browser_compatibility)?

[2020-10-27 14:42] XRFXLP commented on #1715
Firefox 76.

It turns out that my browser is not updated, since support of Firefox started from 77.

[2020-10-27 14:42] #1715 closed

[2020-11-23 18:45] sahilempire commented on #1645
Please tell me what exactly i have to do. As I am working first time for your organization so I don't have enough knowledge, so please guide me @chrisdavidmills

[2020-11-23 18:46] sahilempire commented on #1645
Please tell me **what exactly i have to do**. As I am **working first time for your organization** so I don't have enough knowledge, so please **guide me** @chrisdavidmills

[2020-12-05 22:33] mattiapontonio opened #1737 "lable attribute in the <option> example"
There Is no the `label` attribute in the example so Is not clear where them are rendered when You test it.

https://developer.mozilla.org/en-US/docs/Web/HTML/Element/option

![Screenshot_20201205-230200.png](https://user-images.githubusercontent.com/44380480/101266736-2c98f600-3752-11eb-813f-eedc1af66d79.png)

[2020-12-06 11:51] mattiapontonio opened #1734 "https://github.com/mdn/content/issues/154"
https://github.com/mdn/content/issues/154
@wbamberg @schalkneethling

[2020-12-06 13:55] mattiapontonio commented on #1734
@wbamberg @schalkneethling

[2020-12-07 16:28] peterbe commented on #1737
Now moved.

[2020-12-07 17:52] bershanskiy commented on #1734
@mattiapontonio Since the original issue was moved to #1737, please consider closing this issue.

[2020-12-07 18:50] mattiapontonio commented on #1734
@bershanskiy yes thanks. Sounds like a bot 😊

[2020-12-07 18:50] #1734 closed

[2020-12-11 13:14] CreaTorAleXander commented on #1587
Why is it a bug?

[2020-12-14 17:07] mattiapontonio opened #1741 "Better format the colors in the recipe"
At least you should color it (the code) and format it better. Then you see what there is to remove if there is to remove. I honestly don't know how screenreaders would work with my solution. However, I have seen that a relevant URL proposes the list.

_Originally posted by @mattiapontonio in https://github.com/mdn/sprints/issues/3963#issuecomment-744577544_

Recipe: https://developer.mozilla.org/e

[2020-12-14 17:28] rachelandrew commented on #1638
@sahilempire did you get chance to add these? If not I may well do them as I did the other logical properties examples. Let me know.

[2020-12-14 17:38] sahilempire commented on #1638
@rachelandrew I'm still working on this. And i understood, what i have to do.

[2020-12-14 18:15] mattiapontonio commented on #1638
I believe that you can do 2 branches and a PR on each other or in any case push different commits on the same PR being the assignees of an issue 2.

[2020-12-17 16:12] CreaTorAleXander commented on #1652
I can do it

[2021-01-02 05:45] sideshowbarker opened #1749 "CORS-enable https://interactive-examples.mdn.mozilla.net"
It’d be nice if https://interactive-examples.mdn.mozilla.net were CORS-enabled, so that it’d be possible use fetch/xhr/ajax to get resources from it.

See https://github.com/mdn/content/pull/726 for some context; I had considered using https://interactive-examples.mdn.mozilla.net/media/cc0-videos/flower.mp4 as a request URL in a live sample within the https://developer.mozilla.org/en-US/docs/Web/A

[2021-01-15 13:49] schalkneethling commented on #265
This is an interesting one from way back in the day. Any thoughts on this @chrisdavidmills?

[2021-01-15 13:59] schalkneethling commented on #349
Moved to https://github.com/mdn/bob/issues/548

[2021-01-15 13:59] #349 closed

[2021-01-15 14:02] schalkneethling commented on #356
Tested the live examples in Firefox and Chrome and they produce the expected output now. Closing.

[2021-01-15 14:02] #356 closed

[2021-01-15 14:11] schalkneethling commented on #364
@chrisdavidmills We could add this via https://codemirror.net/doc/manual.html#addon_lint

[2021-01-15 14:14] chrisdavidmills commented on #364
@schalkneethling sounds like a good idea.

[2021-01-15 14:17] chrisdavidmills commented on #265
@schalkneethling Yup, I'd absolutely love to see this implemented. This has come up a few times.

[2021-01-18 08:45] #457 closed

[2021-01-19 00:28] mattiapontonio opened #1758 "Column_layouts overflow"
https://developer.mozilla.org/en-US/docs/Web/CSS/Layout_cookbook/Column_layouts

![Screenshot_20210119-012729.png](https://user-images.githubusercontent.com/44380480/104973643-982ede00-59f5-11eb-8e88-16c10f5a1b0c.png)

[2021-01-19 00:34] mattiapontonio commented on #1653
[code]

[2021-01-19 01:02] #1741 closed

[2021-01-26 11:23] #1758 closed

[2021-01-26 11:26] #1737 closed

[2021-02-06 20:21] Ryuno-Ki opened #1775 "Improve affordance of interactive examples"
First off: I'm not entirely sure, whether this issue belongs into mdn/content or mdn/mdn-minimalist. Feel free to move it if you see apt.

My trigger for opening is a [tweet](https://twitter.com/codepo8/status/1357428580163211264) by @codepo8 from the other day:

I asked him what could be done to improve the experience. His idea was to show a pen.

In my experience, a pen might be understandable t

[2021-02-10 18:26] sahilempire commented on #1645
Hello @chrisdavidmills ,

I have **successfully submitted my Pull Request**** for this issue, **Please check it**.

Thanks.

[2021-02-11 05:48] sahilempire commented on #1645
Hi @chrisdavidmills ,

**Please help** me to go ahead with my pull request.
This shows **i have no write access** to this repository.

Please guide me.

Thank You.

[2021-02-11 07:11] rachelandrew commented on #1638
Hi @sahilempire it looks like you haven't had chance to work on this so I'm going to reassign it to me, as I built the others so I can do these pretty quickly.

[2021-02-11 16:00] sahilempire commented on #1638
okay @rachelandrew , No Problem.

Thanks.

[2021-02-28 17:53] xmarkclx commented on #887
Can confirm. Problem still exists.

[2021-03-01 17:48] peterbe commented on #1775
Can you make the cursor blink?

[2021-03-01 19:42] Ryuno-Ki commented on #1775
https://stackoverflow.com/a/42482756 sounds like it could work …

[2021-04-12 09:36] Elchi3 opened #1794 "Rename default branch to main"
https://github.com/github/renaming#renaming-existing-branches

[2021-04-12 21:33] peterbe commented on #1794
[The mdn/content repo has already solve this :)](https://github.com/mdn/yari/discussions/3427)

[2021-04-14 15:08] rachelandrew commented on #1775
The examples being discussed there aren't the Interactive Examples from this repo. Those are regular MDN examples, some of which are embedded right into the pages, I tend to do mine in the css-examples repo and then embed them (which is what these are). It works, but probably isn't the most elegant solution.

[2021-04-14 15:11] Ryuno-Ki commented on #1775
@rachelandrew Do you want me to fill an issue against another repository then?

[2021-04-14 15:20] rachelandrew commented on #1775
I'm on it :)

[2021-04-15 09:22] tannerdolby opened #1800 "Final item missing content in grid-auto-rows demo"
## What page(s) did you find the problem on?
[grid-auto-rows](https://developer.mozilla.org/en-US/docs/Web/CSS/grid-auto-rows)

## Specific page section or heading?
At the beginning of the page, right underneath the `grid-auto-rows` heading text. It's the interactive CSS demo.

## What is the problem?
The final block is missing its content. It should have the text "Five" displayed but its content

[2021-04-16 13:02] #1638 closed

[2021-04-20 07:47] #1644 closed

[2021-04-29 20:00] #573 closed

[2021-05-01 02:50] #1800 closed

[2021-05-04 08:20] #1637 closed

[2021-05-04 20:27] Blakelist7 commented on #1641
Hey @wbamberg @chrisdavidmills I would like to work on this issue if it is still open.
Please let me know

[2021-05-04 21:23] wbamberg commented on #1641
Sure, that would be great! Just ask if you need any help.

[2021-05-04 21:49] Blakelist7 commented on #1641
Cool

[2021-05-05 13:06] Blakelist7 commented on #1641
@wbamberg
Hey, correct me if I am wrong .
We just have to add another example right?
I cloned the repo but I am unable to find the page that you linked in the issue. I only found a html page that has some lizard picture.
![Screenshot from 2021-05-05 18-33-52](https://user-images.githubusercontent.com/54525960/117145353-b23bd300-add0-11eb-8920-b9cd711b9f9f.png)
Could you help where I am getting it

[2021-05-05 19:56] wbamberg commented on #1641
Oh I'm sorry, @Blakelist7 , it looks as if this example has already been implemented, just not added to the MDN page for `image-rendering`.

If you want to take care of that, it would be a pull request to https://github.com/mdn/content/blob/main/files/en-us/web/css/image-rendering/index.html in the [mdn/content](https://github.com/mdn/content) repo, to add a line like:

[code]

...after the first

[2021-05-05 19:56] #1641 closed

[2021-05-05 20:04] Blakelist7 commented on #1641
@wbamberg no issue, I will request a PR for this and let me know if you find other issue for me , thanks for that in advance.😀

[2021-05-08 10:42] Blakelist7 commented on #1645
@wbamberg I think issue is resolved(PR #1764) so you might close it.

[2021-05-08 10:54] Blakelist7 commented on #1643
I'll like to give one shot at this one

[2021-05-08 14:58] wbamberg commented on #1645
@Blakelist7 thanks for pointing this out. It's almost done but not quite. If you try it: https://interactive-examples.mdn.mozilla.net/pages/css/tab-size.html , it works in Chrome but in Firefox you get a weird static version.

This is because the live sample system tests that a property is supported in the browser before loading the editor, and falls back to the static version if the property is n

[2021-05-08 15:20] Blakelist7 commented on #1645
ohk, I see I'll request a PR for the same
btw @wbamberg thanks for the hack! :smile:

[2021-05-08 17:32] Blakelist7 commented on #1645
@wbamberg there is same issue with https://developer.mozilla.org/en-US/docs/Web/CSS/offset-anchor it supports Firefox only and I tried by adding `-webkit` but still it did not worked ?
Any recommendations?

[2021-05-09 11:35] Blakelist7 commented on #1643
@wbamberg can you help me with this one ?
I'm not able to understand how to apply offset property

[2021-05-12 17:54] #1622 closed

[2021-05-17 16:39] dasa376 opened #1819 "8399537"
| Date | Description | Debit | Credit | |------------------+---------------------------------------------+-------+--------| | [2019-09-24 Tue] | Allocation for Charter v3 allocation | 30000 | | | [2020-03-09 Mon] | Python in Astronomy, Dublin, Ireland | | 2400 | | [2020-03-09 Mon] | PyHEP 2020, Austin, TX | | 1000 | | [2020-03-09 Mon] | Python Machine Learning, Basel, Switzerland | | 2500 | | [202

[2021-05-17 16:44] dasa376 opened #1820 "8399537"
style-rule ::= selectors-list { properties-list }

selectors-list ::= selector[:pseudo-class] [::pseudo-element] [, selectors-list] properties-list ::= [property : value] [; properties-list]

strong { color: red; } div.menu-bar li:hover > ul { display: block; }

document.styleSheets

function getStyleSheet(unique_title) { for (var i=0; i<document.styleSheets.length; i++) { var sheet = document.sty

[2021-05-21 19:02] ericwbailey opened #1822 "The title attribute example should be updated to not use abbr elements"
The `title` attribute used on an `abbr` element has [numerous accessibility issues](https://www.tpgi.com/short-note-the-abbreviation-appreciation-society/). Can we update it to demonstrate a more appropriate usage?

I was thinking along the lines of:

[code]

[2021-05-21 19:41] escattone commented on #1822
Thanks @ericwbailey -- cc @schalkneethling.

[2021-05-24 09:29] schalkneethling commented on #1822
Thanks, @ericwbailey - I wonder if we should add a link to the post you referenced here:
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/abbr#accessibility_concerns

I can take care of updating the example to demonstrate it on an `iframe` instead as you demonstrated.

[2021-05-25 23:54] ericwbailey commented on #1822
developer.mozilla.org/en-US/docs/Web/HTML/Element/abbr#accessibility_concerns

@schalkneethling Sounds like a great idea. Will do!

[2021-05-27 08:55] #1822 closed

[2021-05-30 17:58] tannerdolby commented on #1587
@wbamberg If this is still available I can submit a PR!

[2021-05-30 18:08] tannerdolby commented on #1487
I kinda wanted to append myself to the list. Is this still an issue/feature that needs completing? Let me know @schalkneethling !

[2021-05-30 18:43] tannerdolby opened #1825 "`flex` interactive example fails for a few different viewport width ranges"
The `flex` shorthand property was something that took me awhile to fully understand and use. The examples for viewports > 900 - 905px and < 1024px are very clear and help to illustrate how the shrink, grow, and basis flex properties work. For viewports below 900px, each of the example options produce the same output as the example container has decreased in width and there isn't any available spac

[2021-05-30 18:56] tannerdolby opened #1826 "offset-anchor interactive example not displaying"
The `offset-anchor` interactive example on https://developer.mozilla.org/en-US/docs/Web/CSS/offset-anchor isn't displaying at all, just shows 4 lines of CSS and the example output and options aren't visible.

The `example-output` container actually has the `hidden` class which gives `display: none`, so if that was intended the interactive example is indeed not visible. I don't think the intended b

[2021-05-30 19:14] tannerdolby commented on #1825
Instead of writing media queries to increase the width of `.example-container` to target the viewport ranges that are producing an interactive example that doesn't "interact" ie each option produces the same output. It looks like changing `.example-container` width to `auto` will be the best responsive solution without having to write media conditions.

[2021-05-30 20:59] tannerdolby opened #1828 "Add auto width to .example-container of flex-basis interactive demo"
This issue stems from #1825 where the `width: 80%` for `.example-container` in the output of interactive demo has width ranges where the options don't produce any change in the output, which is because of the available space they have to shrink/fill to.

https://developer.mozilla.org/en-US/docs/Web/CSS/flex-basis

I'm not going to include a video as this problem is the same as whats shown in the l

[2021-05-30 21:09] tannerdolby opened #1830 "Add auto width to .example-container for flex-grow interactive demo"
Related to #1825

Having the `.example-container` width be 80% causes there to be many areas where the selected options don't change the interactive code demo output, making it quite difficult to understand how each option behaves. Same issue as the other `flex-*` interactive demos, it doesn't shift to the column layout for smaller viewports beneath tablet size. But the implementation doesn't chan

[2021-05-30 21:19] tannerdolby opened #1832 "Fix width issue for .example-container demo output on flex-shrink page"
Related to #1825

https://developer.mozilla.org/en-US/docs/Web/CSS/flex-shrink

[2021-05-30 21:32] tannerdolby opened #1834 "Each of the interactive examples should shift to a column layout at smaller viewports"
https://github.com/mdn/interactive-examples/blob/master/CSS-Example-Style-Guide.md#output-width-considerations

I proposed a shift to column layout with a media query in the mentioned issue above. But wanted to create this issue explicitly to shed light on the fact that interactive examples stay "side by side" forever and don't change layout to a column layout at smaller viewport widths like state

[2021-06-01 08:55] schalkneethling commented on #1487
@tannerdolby Thank you for bringing this up again. I kinda left this to "rot" 😸  mainly because I think Github does a good job of this now natively?

![Screenshot 2021-06-01 at 10 54 16](https://user-images.githubusercontent.com/10350960/120295738-b96ad980-c2c7-11eb-95e1-d2898a9542ee.png)

https://github.com/mdn/interactive-examples/graphs/contributors

What do you reckon, shall we close this one?

[2021-06-01 13:26] tannerdolby commented on #1487
@schalkneethling Your welcome! I completely understand 😸  Yeah I think you are right, GitHub does a fine job of handling the contributor list in https://github.com/mdn/interactive-examples/graphs/contributors

I reckon we close this one!

[2021-06-01 15:37] #1487 closed

[2021-06-01 17:02] wbamberg commented on #1487
If we are not going to keep this up to date, shouldn't we remove it?

[2021-06-01 22:30] wbamberg commented on #1826
I guess you are using Chrome? Contrary to the browser compatibility table, it looks like this isn't supported in Chrome (you can see this because the other example in the page doesn't work either: https://developer.mozilla.org/en-US/docs/Web/CSS/offset-anchor#setting_various_offset-anchor_values ).

When a property isn't supported, the interactive example just shows the static list of values, and

[2021-06-01 22:31] wbamberg commented on #1826
Maybe we should face reality and remove interactive examples for properties that aren't supported in Chrome.

[2021-06-01 22:38] tannerdolby commented on #1826
Yeah I was using Chrome when I viewed the page. Haven't had a look at the page in Firefox.

That could be a solution. I'm not sure how many of these "scenarios" exist in the interactive examples, if its a large number of them then I think finding a way to display the content in a "documentation" style fashion for browsers that don't support it would be better than explicitly removing them.

I agre

[2021-06-01 22:49] wbamberg commented on #532
@schalkneethling , this continues to confuse people: https://github.com/mdn/interactive-examples/issues/1826. Do you think there's any likelihood that we could implement something that completely hides the editor if a property isn't supported?

If not, maybe we should consider just permanently removing examples for features that are not supported by Chrome :(.

[2021-06-02 09:45] schalkneethling commented on #1487
Indeed, I shall remove it.

[2021-06-02 09:46] schalkneethling commented on #532
Hey Will, so currently I believe we just show the code as plain text, what we _can_ is as suggested, just not show it all. If we can all agree to do this, then I can put this on my to-do. Let me know, thanks!

[2021-06-02 09:46] schalkneethling opened #1838 "Remove allcontributors in favour of native Github"
If we are not going to keep this up to date, shouldn't we remove it?

_Originally posted by @wbamberg in https://github.com/mdn/interactive-examples/issues/1487#issuecomment-852290028_

[2021-06-02 18:12] wbamberg commented on #532
I'm not sure who "we all" should be here :) but I think hiding the entire editor is the best practical option, and definitely better than what we have now.

[2021-06-02 18:27] schalkneethling commented on #532
I think me and you is a large enough "we" :) I will get stuck into making this change.

[2021-06-02 20:54] tannerdolby commented on #1834
Having your eyes on this would be great @schalkneethling !

[2021-06-02 21:12] #1653 closed

[2021-06-07 08:55] #1828 closed

[2021-06-07 08:58] #1830 closed

[2021-06-08 09:15] schalkneethling commented on #532
Ok, I dug into this some today and because of the cross-origin aspect, this is not something that can be handled from just one of the "role players" so to speak.

Here is my proposal.

1. In Yari we hide all interactive examples by default.
2. Inside each of the editors (https://github.com/mdn/bob/tree/master/editor/js) we currently have some code that shows, hides, and enables aspects of the edit

[2021-06-08 09:33] #1825 closed

[2021-06-08 09:34] #1832 closed

[2021-06-09 13:03] tannerdolby commented on #1834
I think resurrecting the `postMessage` so that a class is toggled on the container would be ideal. Depending on how much fuss it is to bring this back, we can decide on whether spinning up a whole new approach would be the better option.